[2017-05-28 20:07] aurel85 opened #197 "Bug : /aa stats after /aa reload"
Hi,

Just to point out a small bug :
When you do /aa reload the number of achievements in the /aa stats is multiplied by 2, then by 3 if you do a second reload, etc...
To fix the problem just reboot the server.

An image to better understand (I have 242 achievements) :

https://sandbox.fr/images/uploads/original/1496001692.png

_I use PaperSpigot 1.11.2 and the last version of the plugin (5.1.1)._

[2017-05-28 22:00] Daxxas opened #198 "enhancement, customizable gui ?"
Hello,

I was thinking about by example :
- Choose the item for an achievements when it's validated or not, like this :
http://puu.sh/w3W2p/7a7c44cb0f.png
Change the green hardened clay to what I what, same for the orange/Red one.

Be able to organize the HUD too ?

[2017-05-29 09:50] Rsl1122 opened #199 "AdvancedAchievementsAPI#getPlayerTotalAchievements(UUID) slow when AA has no data about the player"
Hello,
I have ran into a problem using the API, possibly in a way it was not intended to be used - To get all amounts of achievements for every player on the server.

Here is my code:
https://github.com/Rsl1122/Plan-PlayerAnalytics/blob/master/Plan/src/main/java/com/djrapitops/plan/data/additional/advancedachievements/AdvancedAchievementsTable.java

Problem appears when a player's uuid is given, b

[2017-05-29 19:44] #197 closed

[2017-05-29 19:45] PyvesB commented on #197
Hello,

Fixed in aforementioned commit, thanks! ;-)

Cheers,

Pyves

[2017-05-29 20:01] PyvesB commented on #198
Hello,

May add that option at some point, although probably not a priority at the moment. ;-)

Cheers,

Pyves

[2017-05-29 20:24] PyvesB commented on #196
Hello,

I've implemented a new `HideNoPermissionCategories` configuration parameter, which should do what you asked for. This will officially be available in the next update, but feel free to build the plugin to get a beta test version.

I'm happy to hear that the plugin is used for educational purposes, and that you're enjoying using it! ;-)

Cheers,

Pyves

[2017-05-29 20:25] PyvesB commented on #199
Hello,

I will look into this and see what I can do for you. ;-)

Cheers,

Pyves

[2017-05-30 19:50] PyvesB commented on #199
I've implemented a new API method `public Map<UUID, Integer> getPlayersTotalAchievements()`. Please tell me if it helps. ;-)

Do a check using `getAdvancedAchievementsVersionCode` to ensure compatibility with older versions of the plugin. The new version will probably be released tomorrow, with version code 520.

[2017-05-30 19:50] #180 closed

[2017-05-30 19:51] #194 closed

[2017-05-30 20:20] Rsl1122 commented on #199
Alright,  cheers!

[2017-06-01 02:50] xyblues commented on #170
https://www.spigotmc.org/resources/placeholderapi.6245/
I want PlaceholderAPI support, too.
Just like this:
%AdvancedAchievements_Received_<Achievement Name>%
- return true if player has received the achievement, false otherwise.

%AdvancedAchievements_Received_ItemBreaks%

[2017-06-02 08:30] Rsl1122 commented on #199
Version 5.1 vs 5.2

[code]

[2017-06-03 17:02] AndGK opened #201 "How do I change the color of the ">" divider?"
Hey. I couldn't find anywhere where I can change the color of ">" divider between command and what it does in the /aach. Is it even possible to do so?

[2017-06-03 20:54] PyvesB commented on #199
Awesome!

I had a very quick look at your implementation. You might be able to slightly speed things up by modifying bits of code similar to the following
[code]
to something like this:
[code]

Basically, instead of doing two lookups in the _Map_, you only do one. ;-)

[2017-06-03 20:54] #199 closed

[2017-06-03 20:56] PyvesB commented on #201
Hello AndGK,

Modifying the colour of that divider is not currently possible via the configuration file. I recommend directly editing _HelpCommand.java_ and recompiling your own custom plugin version in order to do so. ;-)

Cheers,

Pyves

[2017-06-03 21:28] AndGK commented on #201
I figured that but would be nice if you added such a feature. Thankf anyways.

[2017-06-03 21:28] #201 closed

[2017-06-04 05:47] Rsl1122 commented on #199
Good spot!

I've been using this mainly because I don't like having != null everywhere :)

[2017-06-05 10:07] Mavhill opened #202 "Achievement suggestion"
Would it be possible to add a travel to specific coordinates achievement? or find the coordinates. could be used for treasure hunts, low or high altitude achievements , difficult to find areas, etc...,

[2017-06-05 17:32] PyvesB commented on #202
Hello Mavhill,

Quite a few users already do similar things with Advanced Achievements. I suggest using World Guard, and any add-ons that you may find useful, and run a command awarding a _Commands_ achievement when a player enters a specific World Guard region. ;-)

Cheers,

Pyves

[2017-06-06 19:47] #196 closed

[2017-06-11 11:59] seedie opened #203 "Is it possible to remove this menu?"
Hello, hope you are well.

http://i.imgur.com/Epl4pdC.jpg The problem is you can hover over achievements not yet obtained. Can this setting in the config also apply to this menu if it is not possible to remove it:

ObfuscateNotReceived: true

Thank you.

[2017-06-11 13:18] PyvesB commented on #203
Hello seedie,

Unfortunately, even though Vanilla advancements look great on paper, they are quite limited behind the scenes, and I have to cope with that. Basically, advancements must be fully defined at the server level, and all the players see exactly the same tree in the advancements UI, a part from the colour corresponding to whether they have completed the advancement or not. I cannot obfusc

[2017-06-11 13:22] seedie commented on #203
Ah thank you for the information. Do you know of a way to remove the whole tree displayed when a player presses L?

[2017-06-11 13:37] PyvesB commented on #203
If you want to hide the tree completely but still keep the advancement notifications, you can go to your server's world folder and navigate to _data/advancements/advancedachievements_. Open _advanced_achievements_parent.json_ and delete the entire "display" JSON object. It should look similar to this:
`{"criteria": {"aach_handled": {"trigger": "minecraft:impossible"}}, "requirements": [["aach_hand

[2017-06-11 13:42] seedie commented on #203
Thanks very much, it worked great. I wanted certain achievements to be unlocked naturally or without help from the achievement information so this has solved my issue :D.

[2017-06-11 13:42] #203 closed

[2017-06-11 13:52] PyvesB commented on #203
Awesome! Might add this as a configuration option directly in the plugin in a future update. ;-)

[2017-06-12 05:51] Yhenko opened #204 "Plugin attempted to register task while disabled [Console Error]"
1.8.8 server spigot, last version plugin 5.2.1

12.06 01:49:48 [Server] WARN Exception in thread "Timer-4"
12.06 01:49:48 [Server] WARN org.bukkit.plugin.IllegalPluginAccessException: Plugin attempted to register task while disabled
12.06 01:49:48 [Server] WARN at org.bukkit.craftbukkit.v1_8_R3.scheduler.CraftScheduler.validate(CraftScheduler.java:400)
12.06 01:49:48 [Server] WARN at org.bukkit.cr

[2017-06-12 17:18] #202 closed

[2017-06-12 17:23] PyvesB commented on #204
Hello Yhenko,

This stack trace has nothing to do with Advanced Achievements. You should probably contact @Ben12345rocks from the [VotingPlugin](https://github.com/Ben12345rocks/VotingPlugin) project. ;-)

Cheers,

Pyves

[2017-06-12 17:23] #204 closed

[2017-06-14 01:33] AndGK opened #205 "Players are not getting the achievement?"
A lot of my players complain that they have, for example, gained 150 level when the achievement was for 100 and they do not get a reward. So in the /aach list, it states as 150/100. Is this a bug?
Latest 1.11.2 spigot, and latest aach version.

[2017-06-14 17:51] PyvesB commented on #205
Hello,

I am not able to reproduce this problem. You must gain a level for the achievement to be triggered, maybe your players had 150 levels when you added the achievement and have since then not gained any additional levels? Also verify that players have the `achievement.count.maxlevel` permission. ;-)

Cheers,

Pyves

[2017-06-16 00:05] tomcraft opened #206 "Crafting achievement flood"
Hi, I got an issue on my server with Crafting achievements, they can be easily succeed.

You just have to have a full inventory, prepare the craft in the workbench, place your cursor at the recipe result and flood-press a key from the hotbar (like 1 or 5). It count  as a real craft even if this didn't happened.

I temporarly disabled Crafts category.

Regards

(sorry if my english is approximative

[2017-06-16 17:34] PyvesB commented on #206
Hello tomcraft,

Thanks for your report, I will look into it.

Cheers,

Pyves

[2017-06-17 12:14] #206 closed

[2017-06-17 13:42] tomcraft commented on #206
thx guy <3 when do you plane an update ?

[2017-06-17 14:03] PyvesB commented on #206
Next Thursday maybe. If you can't wait until then, you can recompile the plugin yourself, it's fairly easy to do. ;-)

[2017-06-19 22:52] tomcraft opened #207 "Add a MinionSpawnEvent"
Hello, I would make a suggestion for an improvement. It would be usefull for developpers who hooks onto your plugin (like me) to have this kind of event. In my opinion, this event should be designed like the "BossSpawnEvent", I explain.

It could be great to have at least a Collection of all the entities that are spawning and the dedicated ConfigurationSection of this minion. You could also add th

[2017-06-19 23:06] tomcraft opened #208 "Issue with ConsumedPotions section"
Hello (again) !

I report you a new problem/suggestion. In this case, this is normal but it causes some too easy achievements.

The "ConsumedPotions" section consider the Water Bottle as a potion and the players just have to take an empty bottle, go under the sea and spam-right-click, it will fill the bottle, the player drink, it re-fill, he drink-agin, etc ....

This section is too easy to comple

[2017-06-19 23:21] tomcraft commented on #207
Wrong plugin, SORRY x)

[2017-06-19 23:21] #207 closed

[2017-06-20 14:52] tomcraft commented on #208
I saw on your code that you already do a check if the Potion is a Water Potion, but I think this check doesn't work :/

[2017-06-21 19:54] PyvesB commented on #208
Hello,

What version of the plugin are you using? What Minecraft version is your server running?

Cheers,

Pyves

[2017-06-21 19:55] #205 closed

[2017-06-21 21:46] tomcraft commented on #208
I use the latest built version, and I use Paper 1.10.2

[2017-06-21 22:24] BabelSolea opened #209 "PlaceholderAPI support"
PlaceholderAPI is utility plugin her desigion to make possible use data from one plugin (aach here) in other plugins what manage some like: chat/items/gui/scorreboard/tablist/books/boss bar/title's/holograms/signs for show info/stats/ratings.

that easy to use and i saw few time what authors added that features less then 1-2 days after i (or other users) ask about it.

i want use
%aach_got_achivme

[2017-06-22 18:10] PyvesB commented on #208
The plugin does not officially support Paper, and I do not have any server nor setup to test it in such an environment. I am not able to reproduce this using the latest Spigot 1.10.2 build. I have also successfully tested it on a range of other Spigot versions. I suggest you try updating your Paper version, but as far as I am concerned I will probably not be able to provide much help. ;-)

[2017-06-22 18:21] PyvesB commented on #209
Hello,

Regarding PlaceholderAPI, this is a duplicate of #170.

Regarding LeaderHeads, that plugin has been broken for almost three months now (and almost 10 Advanced Achievements versions), and it seems that the author has progressively been dropping support even though the plugin is supposedly "premium". I nevertheless suggest you attempt chasing him up. ;-)

Cheers,

Pyves

[2017-06-22 18:21] #209 closed

[2017-06-22 22:14] BabelSolea commented on #170
Want PlaceholdersAPI support!!! add this

WTF URE IGNORE IT????

PlaceHolderAPI same plugin like Vault - utility that make possible to use data from AACH in all other plugins

why the hell author dont wanna look and understand what that hard usefull popular and effective desigion!

[2017-06-22 22:23] BabelSolea opened #210 "look and feel useful from support placeholderAPI!!! STOP FUKIN CLOSE ISSUE LINKING FAQ#10"
example how many ther plugins and what placeholders they make:
https://www.spigotmc.org/wiki/placeholderapi-plugin-placeholders-page-1/

Placeholders allows using AACH data in hundreds and hundreds other plugins

read and add that feature PLEASE

your link to #10 FAQ is bullshit! in that situation cuz that help to YOUR plugin BE BETTER not to placaholderAPI.

if ure still DONT wanna add support Pl

[2017-06-22 22:31] #210 closed

[2017-06-22 22:31] PyvesB commented on #210
User blocked and reported.

[2017-06-22 22:32] PyvesB commented on #170
I am definitely even less enthusiastic at adding PlaceholderAPI support now. User blocked and reported.

[2017-06-22 22:55] BiGUNMAN commented on #170
Lol, good reason, but tbh, I highly recommend looking into it, even if it's
just using if for your own private server, as it's an extremely useful
plugin.

On Thu, Jun 22, 2017 at 3:32 PM, Pyves <notifications@github.com> wrote:

[2017-06-24 08:16] jakichan77 opened #211 "Block Break not recording, achievements not being given."
I'm not getting any errors in the console, players are just not receiving achievement command rewards, and block break achievements are not working at all in terms of receiving data on what blocks they've destroyed (ie, player destroys 100 iron ore, but nothing comes up as progress in the achievement)

List of plugins: http://prntscr.com/fnkikf

Config for AA: https://pastebin.com/PHy7UpTc

Thank

[2017-06-24 08:20] jakichan77 commented on #211
okay may have solved this myself, I wasn't putting spaces in between commands with ; at the end.

[2017-06-24 09:02] PyvesB commented on #211
Hello,

Okay, if you've solved your problem, I'm closing this issue. ;-)

Cheers,

Pyves

[2017-06-24 09:02] #211 closed

[2017-06-24 09:14] UnrealPixel opened #212 "Command Execute on Achievement?"
Hi short question, is there a way I can let the plugin execute a command upon getting an achievement?

[2017-06-24 09:41] PyvesB commented on #212
Hello UnrealPixel,

Yes - please refer to the default configuration:
[code]

Cheers,

Pyves

[2017-06-24 09:47] UnrealPixel commented on #212
Thanks for your quick response, this helped me out a lot.

[2017-06-24 09:51] UnrealPixel commented on #212
Also, the color codes are not working for me in the message part of an achievement. This is for all of them

`    '10000':
      Message: "&rUpon making &l10.000 &rkills you will receive an &d&lEnder Staff!"
      DisplayName: "&4&lSkull Crusher"
      Name: kills_10000_player`

[In-Game](https://gyazo.com/63577f47d8c8f82be241269dc85156d7)

[2017-06-24 10:00] PyvesB commented on #212
What do you mean "not working"? Please be more specific and share a screenshot.

[2017-06-24 10:01] UnrealPixel commented on #212
A screenshot is under the "In-Game link.

[2017-06-24 10:02] UnrealPixel commented on #212
The plugin doesn't pick up the color codes, even though it is between double quotes

[2017-06-24 10:18] PyvesB commented on #212
You have not yet received that achievement, therfore colours will not appear. ;-)

[2017-06-24 10:24] UnrealPixel commented on #212
OOhhhhhh, okay, I thought the message would set the colors in the description when the achievement is not received too. Thanks :D

[2017-06-24 10:44] PyvesB commented on #212
No problem. Please open a new issue if you encounter any other problems, and feel free to star the repository. ;-)

[2017-06-24 10:44] #212 closed

[2017-06-25 21:00] jakichan77 opened #213 "Block Break achievements not working"
Hey! I opened up an issue before and thought I had it fixed, but I really had only fixed the rewards not being given for ANY achievements, and that was due to me having the wrong format for command rewards :P

For this...

I'm not getting any errors in the console, block break achievements are not working at all in terms of receiving data on what blocks they've destroyed (ie, player destroys 100 i

[2017-06-25 22:22] PyvesB commented on #213
Hello,

I will look into it. ;-)

Cheers,

Pyves

[2017-06-27 19:58] PyvesB commented on #213
I am unable to reproduce this behaviour, using your configuration file with the latest version of Advanced Achievements and the latest Spigot 1.12 build.

What Minecraft version are you using? Are your permissions set correctly ? You have a lot of plugins, most of which I don't know at all. There could well be something messing up, but it's probably going to be difficult for me to provide much hel

[2017-06-29 20:37] jakichan77 commented on #213
I am using Spigot 1.8.8 R01 release build, is there a version of AdvancedAchievements better suited for 1.8?

I don't have any issues on my factions server regarding block breaks, I even compared the configurations.
Could it be because on the prison server, I have unsafe enchantments enabled? Maybe it doesn't count blocks broken too fast? But I don't know if that is true because I have tried witho

[2017-06-29 21:28] PyvesB commented on #213
The latest version of Advanced Achievements is supposed to work properly on any Minecraft version between 1.7.9 and 1.12. I've just tried your exact configuration on a Spigot 1.8.7 build, and yes, everything is working fine for me.

[2017-06-29 22:36] supertassu commented on #170
Yeah, would be a good addiction.
Except a PR soon™:)

[2017-06-29 23:09] jakichan77 commented on #213
I'll see if I can just get a block break rewards plugin or something on the side of AACH :P

If anything comes to light, let me know, and I'll do the same :) Thanks.

[2017-06-30 18:19] #208 closed

[2017-06-30 18:21] PyvesB commented on #213
Maybe you should temporarily remove all other plugins one by one. As soon as _Breaks_ achievements start working correctly again, you will now the last plugin you removed is the culprit. ;-)

[2017-06-30 18:21] #213 closed

[2017-07-01 18:09] WhatsTheBadNews opened #215 "Console Error"
`01.07 12:13:13 [Server] ERROR [AdvancedAchievements] SQL error while retrieving achievement names:
01.07 12:13:13 [Server] INFO com.mysql.jdbc.exceptions.jdbc4.CommunicationsException: The last packet successfully received from the server was 271,352,410 milliseconds ago.  The last packet sent successfully to the server was 271,352,410 milliseconds ago. is longer than the server configured value

[2017-07-01 18:11] WhatsTheBadNews commented on #215
I am using the latest version of spigot and the latest version of Advanced Achievements.

[2017-07-01 18:43] PyvesB commented on #215
Hello WhatsTheBadNews,

One user was having a similar issue a long time ago, could you please refer to #67 and see if the links I posted there help you out?

Cheers,

Pyves

[2017-07-01 23:24] jakichan77 opened #216 "AutoSell / Advanced Achievements issue with block breaks"
I figured out the problem. Autosell's fortune blocks feature is messing with the count of the blocks broken - is there a way you can add compatibility?

Fortune blocks means when you break blocks and they automatically go into your inventory, it gives you multiple blocks.

let me know if you need more info, but I definitely found the culprit :)

[2017-07-02 07:31] PyvesB commented on #216
Hello jakichan77,

That seems to be payed software and I don't own a copy myself, so I won't be able to look into it. You should maybe try contacting its author directly, and explain that some of its features break other plugins. ;-)

Cheers,

Pyves

[2017-07-07 20:14] mmuziek opened #217 "Errors at startup"
hey man im working on some problems since yesterday and i did not get it working once.
here is the current error :
https://pastebin.com/pCce9PnE
here is my config:
https://pastebin.com/6Qmyj289
if you need other files tell me but i did not touch the other files at all...
i found out that i do need to place "" around  all text for description and display names to get it to move past step 1 at start

[2017-07-07 20:25] PyvesB commented on #217
Hello mmuziek,

Replace the [] by {} for disabled categories (empty structures, and not empty arrays). ;-)

Cheers,

Pyves

[2017-07-09 14:31] Platinteufel opened #218 "Config mess up on startup"
Hey @PyvesB :)

Since I've updated to the latest version of aach my config get messed up after every startup, see https://pastebin.com/6n2bwhrg. Any idea what could be the problem here? :/

Cheers ;-)

[2017-07-09 15:02] PyvesB commented on #218
Hello Platinteufel,

Try deleting line number 5. ;-)

Cheers,

Pyves

[2017-07-09 15:03] Platinteufel commented on #218
I just managed to fix it.

The plugin generated 3 options in _"Parameters in future plugin versions will  appear here"_ ..

# When a player gives a pet to another player (requires
# PetMaster plugin version 1.3 or above).
PetMasterGive: {}

# When a player receives a pet from another player (requires
# PetMaster plugin version 1.3 or above).
PetMasterReceive: {}

# When a player enters a specific

[2017-07-09 15:12] Platinteufel commented on #218
I was just able to reproduce it:
https://youtu.be/-fJuZzmIxpk

I can provide my config if you want to test it on your own. :)

[2017-07-09 20:23] PyvesB commented on #218
Yes, I would definitely appreciate your configuration. ;-)

[2017-07-09 20:35] Platinteufel commented on #218
I'll sent it to you via message on SpigotMC :)

[2017-07-11 21:57] #218 closed

[2017-07-11 22:03] PyvesB commented on #218
Hello,

The problem didn't come from an Advanced Achievements update, but from recent versions of Spigot. I updated my very hackish workarounds to prevent comments from disappearing when inserting new values into the _.yml_ files. The files should no longer be messed up now. Ideally I should move over to a more robust YAML parsing library, rather than using the buggy/long abandoned CraftBukkit one

[2017-07-11 22:04] #216 closed

[2017-07-11 22:05] #215 closed

[2017-07-11 22:06] PyvesB commented on #170
@supertassu : any progress on the Placeholder API side? ;-)

[2017-07-11 22:31] Platinteufel commented on #218
Thanks a lot for the workaround, even though it was a very special case. Just wanted to prevent messed up configs for other users, because I was very confused what's wrong.

[2017-07-12 17:17] supertassu commented on #170
@PyvesB PlaceholderAPI doesn't like my custom placeholders. Nope.

[2017-07-14 11:02] #217 closed

[2017-07-15 18:01] Wipie opened #219 "Jobs Integration"
Hi, I wanted to ask you if it was possible to make an integretion with JOBS https://www.spigotmc.org/resources/jobs-reborn.4216/

So we can create sucess by reaching as exemple Miner Level 100

( Sorry for my bad english I'm french :X  )

[2017-07-15 18:04] supertassu commented on #219
Please refer to Question 10 at FAQ.

https://github.com/PyvesB/AdvancedAchievements/wiki/FAQ-(Frequently-Asked-Questions)#other

[2017-07-15 18:05] Wipie commented on #219
I understand =/ Thanks for the answer I will look with our server dev for this than :D

[2017-07-16 14:54] fabianwennink opened #220 "Config lookup during events"
Hello, I was fooling around with the code a bit and noticed that when some events are called (e.g. [BlockBreakEvent](https://github.com/PyvesB/AdvancedAchievements/blob/master/src/main/java/com/hm/achievement/listener/AchieveBlockBreakListener.java#L70)), there's a config lookup to see if the blockName exists in a category _(in this case the Break category)_.

This config lookup _(with just 4 subc

[2017-07-16 21:16] PyvesB commented on #219
Hello Wipie,

@supertassu already gave the answer, but I would be glad to integrate any contribution from your developer into the project. That's the point of open-source after all. ;-)

Cheers,

Pyves

[2017-07-16 21:16] #219 closed

[2017-07-16 22:51] Wipie opened #222 "Add pagination to /aach list"
When you reach more than 53 succes in a category, the back option goes and the "GUI" is completely bugging

Is it possible to make an option like to go "Page 2" or "next page" "previous page" navigation system?

[2017-07-16 22:53] Wipie commented on #222
http://prntscr.com/fwhzdm

Screenshot of the issue

[2017-07-17 08:35] PyvesB commented on #220
Hello fabianwennink,

No, there is no specific reason not to cache the subcategories for multiple achievements, as long as the `extractConfigurationParameters` is overridden properly. ;-)

Cheers,

Pyves

[2017-07-17 08:38] PyvesB commented on #222
Hello Wipie,

The GUI can handle up to 98 achievements per category, but due to Minecraft limitations that specific line becomes buggy as you have noticed. I guess adding pagination would be a good thing to do at some point. ;-)

Cheers,

Pyves

[2017-07-17 15:43] Wipie commented on #222
Merci :) ( Je prend la peine de te répondre en français :P Est-ce une chose prévu pour bientôt ou plutôt éventuellement ^^?

[2017-07-17 19:19] evanmcclan opened #223 "Custom Category!"
Can you please add a way to make our own custom categories that can then contain achievements in them (weather its action - command - or player commands).... I dont like seeing just the commands category and i'd like to be able to classify some of my command achievements differently, but with the current system its always under commands category.

[2017-07-18 08:58] PyvesB commented on #222
Je ne sais pas. C'est quelque chose de relativement compliqué à faire proprement, et j'ai pas mal d'autres occupations en ce moment. Donc on va dire éventuellement, mais ça n'empêche pas quelque d'autre d'y jeter un coup d'œil et de s'en charger. ;-)

[2017-07-18 09:02] PyvesB commented on #223
Hello evanmcclan,

Would probably be complicated to integrate with the current code basis and would be confusing for th user to set up in the configuration file. I'm sorry to say that this will likely not be done. ;-)

Cheers,

Pyves

[2017-07-24 20:45] kingdcreations opened #226 "Request: put not done yet achievement into database"
Hi, we started to use your plugin recently and absolutly love it!
Here is an example of what we done with the database feature: http://asgard-mc.fr/profil/?pseudo=KingDiams
We would love to make achievement not done yet appear in our profiles pages.
Thank you!

[2017-07-25 18:53] FrozenBeard opened #227 "Could not load 'plugins/AdvancedAchievements.jar' Invalid plugin.yml"
Downloaded for the first time, and it won't load.

[code]

[2017-07-25 21:04] #223 closed

[2017-07-25 21:41] PyvesB commented on #226
Hello kingdcreations,

I don't think this would be a good idea.
- it would considerably increase the size of the database. The plugin would need to store potentially hundreds of records in the database corresponding to all the achievements never received, even if a player joins the server for two minutes and never comes back again. On my server, this would make a table of about 100k records grow t

[2017-07-25 21:54] PyvesB commented on #227
Hello FrozenBeard,

Where did you download the plugin? Are you using the latest version? Have you tried updating your Paper Spigot build? If it still doesn't work, could you please attach the _.jar_ file you are trying to use (you will need to zip it so that GitHub can accept it)?

Cheers,

Pyves

[2017-07-25 23:17] kingdcreations commented on #226
Oh, I see, thank you for your quick answer! :)

[2017-07-26 07:04] #226 closed

[2017-07-26 15:45] FrozenBeard commented on #227
I downloaded from https://www.spigotmc.org/resources/advanced-achievements.6239/
I have the latest Paper-Spigot yes.
I downloaded from BukkitDev instead and strangely it worked.

[2017-07-26 22:09] PyvesB commented on #227
Probably an error during the download. Closing the issue. ;-)

[2017-07-26 22:09] #227 closed

[2017-07-29 17:15] Bodyash opened #228 "Aach generate"
https://pastebin.com/VGUFgRWN ERROR

[2017-07-29 19:26] PyvesB commented on #228
Hello,

This is a bug with Spigot. Please restart your server.

Cheers,

Pyves

[2017-07-29 19:26] #228 closed

[2017-07-30 01:00] TWSSYesterday opened #229 "Blocks broken not showing"
https://hastebin.com/uleqavonib.makefile
Version 1.12, latest Paper Spigot
Version 5.2.5 not working, everything loads up normally, no errors.
Everything works apart from blocks broken.
Using a plugin that moves blocks instantly to inventory on block break (i.e. autosell)
Let me know what I can do.

[2017-07-30 09:34] PyvesB commented on #229
Hello TWSSYesterday,

Yes, this has previously been pointed out, Autosell plugin seems to mess up with Bukkit's _BlockBreakEvent_. Nevertheless, as mentioned in #216, there is not much I can do:

"That seems to be payed software and I don't own a copy myself, so I won't be able to look into it. You should maybe try contacting its author directly, and explain that some of its features break other p

[2017-07-30 14:36] TWSSYesterday commented on #229
Contacted via email

[2017-07-30 16:12] PyvesB commented on #229
I will look into it. ;-)

[2017-07-30 18:07] TWSSYesterday commented on #229
I'm getting lag from the plugin also, it sounds like it could be to do with this. See screenshot below:
http://i.imgur.com/wLuMmx0.png

[2017-08-06 15:53] PyvesB commented on #229
I looked into the Autosell issue with the configuration you sent me. The plugin seems to be somehow messing with the Bukkit API. When Advanced Achievements receives a _BlockBreakEvent_, the server systematically indicates that the block just broken was "air", which is obviously wrong. This behaviour from Autosell is quite troublesome, and can break a lot of plugins relying on a proper usage of the

[2017-08-11 22:58] Amiroslo opened #230 "Suggestion - add option to ignore AFK PlayedTime"
Can you add a config so it does not calculate time spent playing if the person is afk? Because rn if the player is afk, it still calculates it as time played

[2017-08-13 15:06] PyvesB commented on #230
Hello,

Here's a version with the new feature implemented (_IgnoreAFKPlayedTime_ configuration option). Could you please test it and confirm that everything is working as expected?

Cheers,

Pyves
[AdvancedAchievements.zip](https://github.com/PyvesB/AdvancedAchievements/files/1220526/AdvancedAchievements.zip)

[2017-08-17 20:38] #230 closed

[2017-08-17 20:39] #229 closed

[2017-08-17 22:56] jere62smi opened #231 "Probleme"
Hello, we have a problem with achievement. Indeed, we have players who do not get their achievement while they have carried out all the actions. Is it possible to add check that verify the player's stats in order to automatically give it achievement.

http://prntscr.com/g9u387

[2017-08-19 11:34] PyvesB commented on #220
Hey there,

Commit 4b870ecf2127ecfd1c45f3c166953a12ad5ff6c4 removed an old class that was no longer of any use, and that was actually slowing configuration lookups down significantly.

I also did some work around the distance and played time runnable classes, which I think benefit the most from caching and pre-parsing some of the configuration data. Commit ecd943511d1d2ec176539114ce04086c817d7106

[2017-08-19 11:34] #220 closed

[2017-08-19 11:38] PyvesB commented on #231
Hello,

Please refer to question 4 of the [FAQ](https://github.com/PyvesB/AdvancedAchievements/wiki/FAQ-(Frequently-Asked-Questions)). ;-)

Cheers,

Pyves

[2017-08-20 05:45] AlpacatheGreat opened #232 "GUI not working"
Hello!
When I do /aach list, only the xp bottle and the clock is showing correctly. All the other icons have changed to barrier for some reason. I have not used tab instead of space bar.
I also get this error from the console when I do /aach generate: "18:33:15 CONSOLE: com.google.gson.JsonSyntaxException: com.google.gson.stream.MalformedJsonException: Unterminated object at line 1 column 188 path

[2017-08-20 11:09] PyvesB commented on #232
Hello AlpacatheGreat,

Regarding /aach list, you have probably enabled this behaviour by changing the default configuration and setting _HideNotReceivedCategories_ to true.

Regarding /aach generate, I would need to have a look at you configuration file, could you please paste in Gist or Pastebin?

Cheers,

Pyves

[2017-08-21 04:15] AlpacatheGreat commented on #232
The /aach list is working now!
I have inserted the config here as a script
`<script src="https://gist.github.com/AlpacatheGreat/8035c621404e928f25d7c7dc86eab9e5.js"></script>`

[2017-08-21 05:08] #232 closed

[2017-08-21 17:34] PyvesB commented on #232
You're welcome! Feel free to star the project. ;-)

[2017-08-26 19:28] Niketion opened #233 "Error with 1.7"
https://pastebin.com/vwWaMjyg

[2017-08-27 17:07] Platinteufel opened #234 "MusicDisc Cooldown not shown in ActionBar"
I don't know if there's a simple solution, but the cooldown for `MusicDisc` is not shown in ActionBar - probably because it is overwirtten by _Now Playing: ..._.

[2017-08-28 07:33] #231 closed

[2017-08-28 07:33] PyvesB commented on #233
[Wiki](https://github.com/PyvesB/AdvancedAchievements/wiki)

[2017-08-28 07:33] #233 closed

[2017-08-28 07:34] PyvesB commented on #234
Hello Platinteufel,

Thanks, I'll look into it. ;-)

Cheers,

Pyves

[2017-08-31 18:07] #234 closed

[2017-09-02 12:17] HarryBeau28 opened #236 "Plugin causes crash to my server"
Hello,

i just installed your plugin yesterday, and today it makes the server crash, therefores the plugin is working and there isn't any error... what can causes it ?
my server crash because of this it, how to fix it ?

[12:11:43] [Spigot Watchdog Thread/ERROR]: The server has stopped responding!
[12:11:43] [Spigot Watchdog Thread/ERROR]: Please report this to http://www.spigotmc.org/
[12:11:43]

[2017-09-05 21:15] PyvesB commented on #236
Hello,

Could you please make sure you are running the latest version of Spigot, and the latest version of the plugin? Have you updated the SQLite drivers on your machine?

Do these crashes happen on a regular basis? If so, does the stack trace always contain "com.hm.achievement.db.SQLDatabaseManager.getNormalAchievementAmount(SQLDatabaseManager.java:556)"?

Cheers,

Pyves

[2017-09-12 19:00] blijgozertje opened #237 "Help with colour and spaces"
When changing the icon setting to "" It just gets a space please add or tell me how to disable this icon thing.

 Set the icon of the plugin (default: shamrock, \u2618).

Icon: ""

Also in the GUI you can see the Goal and progress you can edit the word goal and progress but not the actual goal or progress text/bar colors because &8 is very ugly on my server

thx

[2017-09-12 21:08] PyvesB commented on #237
Hello,

Regarding the icon, are you using the latest version of the plugin?

Regarding the colours, have you tried adding a string such as "§3" in front of the relevant messages in **lang.yml**?

Cheers,

Pyves

[2017-09-13 17:48] blijgozertje commented on #237
Yes, I am using the latest version.

I have colored them but it doesn't show.

[2017-09-13 18:50] PyvesB commented on #237
Can you provide me with a screenshot showing the space in place of the icon?

[2017-09-14 02:18] JuhCohBee opened #238 "Lists with the Block Break achievements"
Can you add support for multiple blocks types with the Block Break Achievements? For example, if i wanted to make an achievement that counts all ore blocks broken, i would need to have a way to count multiple types of block breaks under one counter.

[2017-09-14 06:40] PyvesB commented on #238
Hello,

Closing as duplicate of #92. ;-)

Cheers,

Pyves

[2017-09-14 06:40] #238 closed

[2017-09-14 16:09] blijgozertje commented on #237
Screenshots of space icon:
https://imgur.com/a/pUslj

The part of the config:
# Set the icon of the plugin (default: shamrock, \u2618).
Icon: ""

Screenshots of menu coloring:
https://imgur.com/a/0VbrT
https://imgur.com/a/WQJ9f

That part of the config:
Breaks:
  sand:1:
    10:
      Message: "&fYou have collected 10 red sand blocks!"
      Name: break_10_sand1
      DisplayName: Red Sand Fan
  s

[2017-09-16 00:05] vkolasa opened #239 "Brewing category behaviour"
There might be a bug with advanced achievements with the brewing category, I had a player recently put potions acquired from an end city in a brewing stand , wait 10 seconds then place them back and it ticks the counter. maybe its just my config? I dunno, but I figured I would tell you just in case it isnt me. Thanks.

[2017-09-16 11:49] blijgozertje commented on #237
How can I change those colors and space?

[2017-09-17 10:57] #236 closed

[2017-09-17 11:34] PyvesB commented on #237
As far as the spaces are concerned, you must have specified some in the _ListAchievementFormat_ configuration parameter, you should remove them from there.

In _/aach list_, the colours only appear once the achievement has been completed. When the achievement is in progress, they are ironed out and replaced by the grey colour. If you don't like grey, I suggest you recompile the plugin and modify t

[2017-09-17 11:45] PyvesB commented on #239
Hello vkolasa,

Unfortunately, as far as I know there is no way to properly detect when a player has finished brewing a potion and comes to collect it using the Bukkit API. Therefore I can only check whether a player removes a potion from a brewing stand inventory. If a player puts an already brewed potion back and retrieves it after the cooldown delay, this will count as a new action. ;-)

Cheers

[2017-09-20 20:02] R4zzer opened #240 ""DateLocale" - Error"
I have in the config this:
"DateLocale: de"

the date on the server is right, but the time not
I use the LATEST version.

[2017-09-20 20:32] PyvesB commented on #240
Hello R4zzer,

Could you be more specific about how the time isn't right?

Cheers,

Pyves

[2017-09-21 11:04] R4zzer commented on #240
Example: 7:00 PM is on the server 00:00 Uhr (German Time)

[2017-09-22 12:23] playfrite opened #241 "aach list"
Hello,

here, I would like to know if it is possible to make several pages for a type of action.

My current problem is that there are 70 achievements in the category places and when I do / aach list it is completely illegible

What can I do?

Thank you and good day

[2017-09-22 12:51] R4zzer commented on #241
I think @PyvesB can add a small gui with "Achievements done" and "not done".
This is a better solution for the /aach list gui.

[2017-09-22 13:01] playfrite commented on #241
I was thinking about a page system and how do I contact @PyvesB?

thank you

[2017-09-22 17:48] R4zzer commented on #241
Spigot-Discussion

[2017-09-22 17:51] PyvesB commented on #241
Hello playfrite,

This has already been suggested by #222. I haven't yet looked into it. Anyone else can also feel free to contribute, as the plugin is open-source. ;-)

Cheers,

Pyves

[2017-09-22 17:51] #241 closed

[2017-09-22 18:00] PyvesB commented on #240
I've tested this myself, and it seems to work fine both in _/aach book_ and _/aach list_.

Are you using the latest version of the plugin? Which database type are you using? Have you set _DateDisplayTime_ to true in the configuration? Also bear in mind that any achievements received with a plugin version prior to 4.1 will automatically show as 00:00.

[2017-09-22 18:37] R4zzer opened #242 "Achievement Description (Book)"
The description doesn't change in the book.

Config: https://goo.gl/B6oNnh
Book: https://goo.gl/rtdchD

[2017-09-22 18:38] R4zzer opened #243 "/aach list - Icon"
Maybe you can add a option in the config.yml to change every icon in the /aach list GUI?

[2017-09-22 18:45] PyvesB commented on #242
Hello R4zzer,

As stated in the [FAQ](https://github.com/PyvesB/AdvancedAchievements/wiki/FAQ-(Frequently-Asked-Questions)), the `Message` parameter gets stored in the database. The _/aach book_ command relies on the database to get all its data. You therefore need to change the relevant database entries if you decide to change the `Message` parameter after players have received the achievement.

[2017-09-22 18:45] #242 closed

[2017-09-22 18:46] PyvesB commented on #243
Hello R4zzer,

This has already been suggested by #198.  I haven't yet looked into it. Anyone else can also feel free to contribute, as the plugin is open-source. ;-)

Cheers,

Pyves

[2017-09-22 18:46] #243 closed

[2017-09-22 18:52] R4zzer commented on #242
I can not speak English so well. Can you give me a short version? xD

[2017-09-22 20:39] PyvesB commented on #242
Well you have to modify the messages in the database table (_achievemenst.db_ if you are using SQLite, default database of the plugin).

[2017-09-22 22:38] R4zzer commented on #242
But i use mysql

[2017-09-23 06:36] PyvesB commented on #242
The same stands. ;-)

[2017-09-23 16:43] R4zzer opened #244 "config.yml - Achievement Line "Goal""
[code]

This doesn't work on "Goal". Goal is displayed as &7&o (or &8&o) Color Code.

[2017-09-23 16:44] R4zzer commented on #244
Uuuups.. a little bit big.

[2017-09-23 19:48] R4zzer opened #245 "Own Categories"
Maybe you can add a function to add own categories or placeholders (barriers in the GUI without letters)
and a function to change the location of single categories in the /aach list GUI?
P.S: A page-system would be good for that

[2017-09-24 07:22] PyvesB commented on #244
Hello,

Thanks for the report, I will look into this.

Cheers,

Pyves

[2017-09-24 07:30] PyvesB commented on #245
Hello,

If you want to add new categories, you should refer to the [developers](https://github.com/PyvesB/AdvancedAchievements/wiki/Developers) guide.

I'm not convinced letting people randomly place the items in the GUI would be really useful, especially regarding the fact that no one has ever asked for this.

Cheers,

Pyves

[2017-09-24 14:59] R4zzer commented on #245
can you add this in the config?

[2017-09-24 17:09] R4zzer commented on #243
this is already availabe in gui.yml, sorry.

[2017-09-24 20:27] PyvesB commented on #244
I just read the issue again - this is expected behaviour. Please refer to explanation in #237.

[2017-09-24 20:27] #244 closed

[2017-09-24 20:29] PyvesB commented on #245
Please refer to my answer above. Feel like I'm waiting my time here.

[2017-09-24 20:29] #245 closed

[2017-09-24 20:29] #239 closed

[2017-09-24 20:30] #237 closed

[2017-09-25 12:05] playfrite commented on #222
@PyvesB si je te paie pour faire la pagination, ça te motiverai assez? bonne journée

[2017-09-27 13:20] Droodzur opened #246 "Console Spam/Error"
Hello I am getting this error spamming my console 24/7

`27.09 09:17:28 [Server] WARN [AdvancedAchievements] Task #456693 for AdvancedAchievements v5.2.9 generated an exception 27.09 09:17:28 [Server] INFO java.util.concurrent.RejectedExecutionException: Task com.hm.achievement.db.SQLWriteOperation$1@2a259e07 rejected from java.util.concurrent.ThreadPoolExecutor@303d600b[Terminated, pool size = 0,

[2017-09-27 20:19] PyvesB commented on #246
Hello Droodzur,

This is surprising. Could you please update to the latest Spigot build? Are there any errors or warning messages when the plugins start up? When this error happens, does Advanced Achievements still seem to work in game (commands, achievements, etc.)? Have you tried restarting (not reloading) your server?

Cheers,

Pyves

[2017-09-27 20:33] Wipie commented on #222
Je suis pas concernée mais ça serait super :DD

[2017-09-29 01:10] mat41997 opened #247 "PlayerPickupItemEvent deprecated error"
timings
https://timings.aikar.co/?id=99b9ab2c1abe4dbea62a68ddb2d20342

logs
[code]

[2017-09-29 08:33] PyvesB commented on #247
Hello mat41997,

This is a regression from Spigot. I'll implement a workaround to fix it and keep the plugin compatible all the way from version 1.7.9 to 1.12.1, as they are generally unhelpful in fixing/reverting such regressions.

Cheers,

Pyves

[2017-09-29 19:10] PyvesB commented on #247
Hello,

Writing up a new message after some additional investigation. I am not able to reproduce this in Spigot, this must therefore be an issue that only occurs with Paper (which I believe you are using).Such a warning/exception should probably not be thrown, as `@Warning(false)` is set on the `PlayerPickupItemEvent` class. Could you please open an issue in the [PaperSpigot  repository](https://g

[2017-09-29 23:14] Platinteufel commented on #247
Sounds weird, I will test it with Paper tomorrow. :)
Is there any reason why you don't use the new `EntityPickupItemEvent`?

[2017-09-29 23:19] mat41997 commented on #247
bukkit.yml > deprecated-verbose > true

[2017-09-30 07:31] PyvesB commented on #247
@Platinteufel `EntityPickupItemEvent` was only created a couple of months ago. I keep on using it to support all Minecraft versions from 1.7.9 through to 1.12 (only the last 1.12 versions, as well as 1.12.1 and 1.12.2 have it). The other way to do it would be to create two separate classes, each one using a different event and detect during runtime whether `EntityPickupItemEvent` is available, but

[2017-09-30 18:09] #240 closed

[2017-10-05 18:09] #246 closed

[2017-10-08 15:30] #247 closed

[2017-10-15 14:45] #198 closed

[2017-10-22 20:12] PyvesB commented on #222
Pagination implemented in the latest commit. Here's a test version that anyone can try (and in particular @Wipie and @playfrite)! Please tell me if you encounter any bugs! :wink:

[AdvancedAchievements.zip](https://github.com/PyvesB/AdvancedAchievements/files/1405299/AdvancedAchievements.zip)

[2017-10-25 03:11] c00ldude1oo opened #248 "disconnect on achievement earned"
When a player earns an achievement it will cause them to disconnect from the server

I am using 1.12.2 spigot and bungeecord latest and the latest version of AA

[2017-10-25 03:13] c00ldude1oo commented on #248
Here is a image of what happens
![20171024_115314](https://user-images.githubusercontent.com/15677803/31978761-e0b9e540-b910-11e7-9e74-93c7b6603a79.png)

[2017-10-25 18:13] PyvesB commented on #248
Hello c00ldude1oo,

Could you please post the full error message as text?

Could you also try disabling the _Firework_, _AdditionalEffects_, _Sound_, _CooldownActionBar_ and _TitleScreen_ configuration parameters, and see whether the problem persists?

Cheers,

Pyves

[2017-10-27 18:05] #222 closed

[2017-10-29 02:48] Garixer opened #250 "Polish Translation - lang.yml"
[code]

[2017-10-29 09:20] PyvesB commented on #250
Hello Garixer,

Thanks for this! Do you want to try to submit this file via a pull request, so you show up in the list of contributors in the repository?

Navigate [here](https://github.com/PyvesB/AdvancedAchievements/tree/master/src/main/resources), and click _Create new file_. Name it `lang-PL.yml`, paste the contents of your translation, and if you navigate down, in the _Propose new file_ field

[2017-10-30 14:34] aurel85 opened #251 "Problem with the previous and next buttons (version 5.3)"
Hi,

I made the 5.3 update of the plugin. The op and the players fail to show all the achievements because the previous and next buttons do not work. I can not display more than 5 achievements when there are 6 or 7 for example. There is no error message in the console.

At no time in the config the unrealized achievements are masked (and anyway even the achievements achieved can not be seen) and e

[2017-10-30 19:21] PyvesB commented on #251
Hello aurel85,

Sorry about that. Unfortunately the pagination didn't get as much testing as I would have wanted it to, as the people who were nagging me for that feature still haven't given any feedback even though I shared my first test version well before the official release. Never mind, here's another version, could you please tell me whether it helps? :wink:

[AdvancedAchievements.zip](https

[2017-10-30 19:36] aurel85 commented on #251
With this version all my achievements appear without the slightest problem, but the previous and next buttons are useless. For example in this section I have 17 successes and everything is displayed :

https://sandbox.fr/images/uploads/original/1509392177.png

Is this normal ? Because currently the buttons are not useful anymore, if so, would it be possible that they do not appear ? Or should it s

[2017-10-30 21:10] PyvesB commented on #251
I have removed the previous and next buttons if you do not have enough achievements (= 50) to fill in one page for a given category. Nevertheless, if you have over 50 achievements for the category, both buttons will systematically appear (basically you'll be in pagination mode). Does this better suit your needs? I have attached a new test file.

[AdvancedAchievements.zip](https://github.com/PyvesB

[2017-10-30 21:17] aurel85 commented on #251
Very well what has been done suits me perfectly.
Just a small detail that I will explain only in image (it will be simpler ahah):

https://sandbox.fr/images/uploads/original/1509398193.png

[2017-10-30 21:31] aurel85 commented on #251
Everything is ok, thank you !

[2017-10-30 21:31] #251 closed

[2017-10-31 08:48] DaNseRYT opened #252 "MySQL (DEFAULT CHARSET=utf8), (utf8)"
1. Please add a line when creating the database - https://hastebin.com/redebeyopi.pas
2. Please add a line when connecting to the database - https://hastebin.com/apiyigijot.erl

[2017-10-31 22:31] PyvesB commented on #252
Hello DaNseRYT,

How will this affect current users of the plugin, who have already generated their database without the `utf8` parameter set? Would you like to submit a pull request with these changes? :wink:

Cheers,

Pyves

[2017-11-01 10:09] DaNseRYT commented on #252
Yes! Who really need to recreate the database. I have to, I from Russia (And a bundle in the database(MySQL) look like this: '??????????????? ??????? ???????'

[2017-11-01 10:43] DaNseRYT commented on #252
![screenshot_1](https://user-images.githubusercontent.com/33249522/32271374-9d393cb2-bf0a-11e7-9e1d-1cb2619378d8.png)
![screenshot_2](https://user-images.githubusercontent.com/33249522/32271375-9d56fa7c-bf0a-11e7-94e4-40e83640117d.png)

[2017-11-03 11:01] Xiazihong opened #253 "1.7.10 warnings and errors"
1. Achievements Kills
Kill the zombies There will be an error
`http://paste.ubuntu.com/25878847/`

2. Achievements command
command aach error
Version 1.7.10

`[18:52:46]` [Server thread/INFO]: Suu_Q issued server command: /aach
[18:52:46] [Server thread/WARN]: [AdvancedAchievements] Errors while trying to display clickable and hoverable message in /aach help command. Displaying standard message in

[2017-11-03 14:33] dniym opened #254 "Plowing Ground bug"
If you have a plow ground achievement set up all a player needs to do is find a grass block in a place they do not have permission to build and hold down the right mouse button.     Ground does not get plowed but they do get credit for tilling 1 soil per click.

[2017-11-03 15:08] aurel85 opened #255 "Suggestion : Remove the cooldown once the achievement is over"
Hi,

I was wondering if it would be possible to remove the cooldown and its message set up on some achievements only when the player has validated all the achievements of this category ?

Because this cooldown and its message are good ideas, but it can be a little disturbing when you fill water buckets several months after you have finished the achievement.

It's detail but it would be cool.

[2017-11-03 23:07] PyvesB commented on #253
Hello Xiazihong,

Will look into this more closely. 😉

Cheers,

Pyves

[2017-11-03 23:12] PyvesB commented on #254
Hello dniym,

What building permission plugin are you using? If it's World Guard, you may have misconfigured it, please refer to the discussions in #117. 😉

Cheers,

Pyves

[2017-11-03 23:14] PyvesB commented on #255
Hello aurel85,

Seems like a reasonable idea, I'll look into it!

Cheers,

Pyves

[2017-11-04 08:24] PyvesB commented on #250
Hey, how's it going here? Need any help with opening the pull request?

[2017-11-04 08:24] #248 closed

[2017-11-04 09:47] PyvesB commented on #253
I've removed the warning messages for old game versions.

Regarding the other error, are you using the right version of the Vault plugin for your server version? Only version 1.4.1 of Vault is compatible with your game version.

[2017-11-04 10:20] PyvesB commented on #255
Here's a test version. Would you like to give it a try?

[AdvancedAchievements.zip](https://github.com/PyvesB/AdvancedAchievements/files/1443129/AdvancedAchievements.zip)

[2017-11-04 11:51] Xiazihong commented on #253
Ok I will change Vault to 1.4.1
Thank you.

[2017-11-04 12:12] PyvesB commented on #253
Awesome! Closing the issue, feel free to reopen it if you encounter any more problems with Vault.

[2017-11-04 12:12] #253 closed

[2017-11-04 13:51] aurel85 commented on #255
I tested everything is ok. No errors to report. Thank you !

[2017-11-04 13:51] #255 closed

[2017-11-07 23:04] aurel85 opened #256 "Exploit bug with HoePlowings"
Sorry #254

[2017-11-07 23:07] #256 closed

[2017-11-07 23:07] aurel85 commented on #254
Hi,

The same for me with RedProtect and WorldGuard.

[2017-11-08 18:31] PyvesB commented on #254
Same answer as above: try setting `interact: deny` in your region configuration, it should do the trick!

[2017-11-08 18:31] PyvesB commented on #254
Same answer as above: try setting `interact: deny` in your region configuration, it should do the trick!

[2017-11-08 20:22] aurel85 commented on #254
I let interact on true voluntarily, so too bad ^^.

[2017-11-09 18:16] #250 closed

[2017-11-10 13:36] DaNseRYT commented on #252
Excuse me, but when will you add this to the code?

[2017-11-10 13:36] DaNseRYT commented on #252
Excuse me, but when will you add this to the code?

[2017-11-10 13:37] DaNseRYT commented on #252
Excuse me, but when will you add this to the code?

[2017-11-10 20:11] PyvesB commented on #252
I'm assuming this was a response to my only yes-no question, "Would you like to submit a pull request with these changes?", but you don't seem to have actually submitted any pull request yet.

I am still unclear about this and how a seamless update can be provided for existing users and databases.

[2017-11-11 16:09] DaNseRYT commented on #252
For those who have already created the database, does not affect. But all the same, who needs it, they will recreate the base (like me). Please, just add this in the next update

[2017-11-13 17:51] PyvesB commented on #252
I'll see what I can do.

[2017-11-13 17:59] #252 closed

[2017-11-15 04:54] prozhong opened #258 "About HideNotReceivedCategories"
I remember inv5.2.5 when set this to true, the gui didn't show the category at all.
But now its a BARRIER instead.

Is it due to some bug or planned

[2017-11-15 05:10] prozhong opened #259 "Idea - Json format Chat Notification"
![9mlsby7nqwf pqq43kp_ex](https://user-images.githubusercontent.com/1495642/32819661-811e151a-ca05-11e7-87f5-53ce4e56cd3c.png)
(received the achievement: [Good Choice]
    hover info:  Welcome to our server !)

when hover it shows achievement's name, message, etc

[2017-11-15 18:44] PyvesB commented on #258
Hello prozhong,

This is the intended behaviour, there may have been a bug in some of the earlier versions of the plugin. You have an associated `list-category-not-unlocked` configuration option in _lang.yml_. I'll update `config.yml` to avoid any confusion in the future. ;-)

Cheers,

Pyves

[2017-11-15 18:46] PyvesB commented on #259
Hello prozhong,

That seems like a good idea, I'll give it a try and see how it looks! ;-)

Cheers,

Pyves

[2017-11-15 22:47] PyvesB commented on #259
Done! Here's a test version, would you like to give it a try? Make sure you enable the new `HoverableReceiverChatText` configuration parameter!

[AdvancedAchievements.zip](https://github.com/PyvesB/AdvancedAchievements/files/1476627/AdvancedAchievements.zip)

[2017-11-16 07:42] prozhong commented on #259
It works like
![knj4 0g yool7_itt 80 b](https://user-images.githubusercontent.com/1495642/32879002-3da07402-cae3-11e7-8d5c-8d0117a562f0.jpg)

personally I think it would be better to not include all the things, especially rewards info..

Maybe just do it like in vanilla minecraft
![04h1swn w p19_f7r9 1](https://user-images.githubusercontent.com/1495642/32879106-9ba09000-cae3-11e7-8199-9b7cb015d6b9

[2017-11-16 07:46] prozhong commented on #259
Tested in 1.11.2

I don't use 1.12 so don't know how it looks like in new minecraft version

[2017-11-16 08:18] #258 closed

[2017-11-17 19:02] PyvesB commented on #259
I do think it should include all the information, including rewards. 😉
- the hover as you show it conveys very little useful information. The first line is a duplicate of the chat message, the second line is a static text, only the third line adds information.
- it would be inconsistent and confusing for the player to have some of the additional information in the hover, and the rest in subsequent

[2017-11-17 19:03] #254 closed

[2017-11-18 07:47] prozhong commented on #259
hmmmm...You are right
Player have a better user experience.

I think the hover info should show the info of this achievement, not rewards.
I mean the hover item is the achievement itself, everyone will be notify. The rewards info should only show to the player who finish the achievement, not all players
:)
Could you please let us toggle the format or customize it in config.yml ?

[2017-11-18 10:09] PyvesB commented on #259
I think there is some confusion here. I have changed the behaviour _only_ for the achievement receiver. Other players will only be able to see the achievement name as they did before (for instance via the action bar message), the rewards and precise description of the achievement will be kept secret as they should be.

[2017-11-18 17:24] prozhong commented on #259
I thought it would be a hover-Json-notify-others feature from the beginning, lol
In short, my idea was an new notify-others option which is more like vanilla achievement broadcast
not plain text or action bar

[2017-11-18 17:47] prozhong commented on #259
Say all the online players witness 1 player receiving his [Dragon Slayer Master] achievement
They hover it and see this
![image](https://user-images.githubusercontent.com/1495642/32983093-5b1793ce-ccca-11e7-9a72-adc1f68eeed7.png)
brief and like vanilla
That's all

[2017-11-18 19:54] PyvesB commented on #259
I had misunderstood your request, sorry. I don't think changing the notification shown to _other_ players is a good idea. Most administrators want to keep those messages hidden so that their players can have fun hunting the achievements without knowing the goals. Even if they choose to disclose all information via the plugin's configuration, it would just crowd the chat with hovers containing info

[2017-11-19 05:24] prozhong commented on #259
Any chance give us a choice ? Even if you don't agree this feature, lol

[2017-11-19 11:02] PyvesB commented on #259
Why not simply fork the project and add this feature to your fork? The only file you would need to modify is _PlayerAdvancedAchievementListener.java_, it's decently commented and there are examples of how to build hovers inside. I also happy to help if you encounter any issue. :wink:

[2017-11-19 15:26] #259 closed

[2017-11-19 16:20] #61 closed

[2017-11-19 16:31] PyvesB commented on #83
By the way, the [
Plan | Player Analytics](https://github.com/Rsl1122/Plan-PlayerAnalytics) plugin supports Advanced Achievements and may display the additional statistics you are looking for. 😉

[2017-11-21 12:57] masterolos09 opened #260 "Lag server"
Screenshots timings:
https://scr.hu/NYeNV3
https://scr.hu/nwmV2Z

[2017-11-21 20:08] PyvesB commented on #260
Hello masterolos09,

The counts of monitored events are really low (1, 2, etc.) and are therefore not really meaningful. You should allow the Java Virtual Machine to properly start up (see [just-in-time compilation](https://en.wikipedia.org/wiki/Just-in-time_compilation) if you're up for some technical reading) and let the plugin build up its internal cache.

Also ensure that:
- you are using the

[2017-11-22 18:35] masterolos09 commented on #260
I am using mysql database
As I have uploaded AdvancedAchievments on the server are lag, and as it usune it has no lag
Linux is the latest . :(
PHPMyAdmin is also the latest

[2017-11-24 11:12] Xiazihong opened #261 "1.7.10 Gui interface error"
All Gui interface in the process of trying to open this error will appear

[19:09:21] [Server thread/ERROR]: Error occurred while enabling AdvancedAchievements v5.3.3 (Is it up to date?)
java.lang.NoSuchFieldError: BARRIER
	at com.hm.achievement.gui.MainGUI.<clinit>(MainGUI.java:23) ~[?:?]
	at com.hm.achievement.AdvancedAchievements.initialiseGUIs(AdvancedAchievements.java:697) ~[?:?]
	at com.hm.a

[2017-11-24 16:40] TSGPwner opened #262 "Kills?"
So with the achievements for Entity kills : http://prntscr.com/herdsc : I am not able to get it to track for the pigman kills, I'm not really sure what I could be doing wrong, but I would love some feed back! Thank you so much!

[2017-11-24 22:56] PyvesB commented on #260
This does not mean much, as Linux is a family of operating systems.

PHPMyAdmin is a web interface for administrating databases, having it up-to-date or not will not influence performance whatsoever.

This is vague, your Java may be up to almost 4 years old.

You have ignored several of the recommendations in my previous answer. Please go through the effort of setting up your system, server and da

[2017-11-24 22:58] PyvesB commented on #261
Hello Xiazihong,

Please go through the [Wiki](https://github.com/PyvesB/AdvancedAchievements/wiki), in particular the installation guide. 😉

Cheers,

Pyves

[2017-11-24 22:58] #261 closed

[2017-11-24 23:00] PyvesB commented on #262
Hello TSGPwner,

Please refer to [this page](https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/entity/EntityType.html) for entity names. Switching from` zombie_pigman` to `pig_zombie` should do the trick. 😉

Cheers,

Pyves

[2017-11-25 22:46] TSGPwner commented on #262
I am so greatly angered because I thought that would work and I didn't...
God.

On Fri, Nov 24, 2017 at 5:00 PM, Pyves <notifications@github.com> wrote:

[2017-11-25 23:26] PyvesB commented on #262
Haha, it happens. Feel free to open a new issue if you encounter any other problems!

[2017-11-25 23:26] #262 closed

[2017-11-28 01:15] BobbyMere opened #263 "Custom Reward Display"
Is there a way display a custom command reward? As in, stead of it auto interpreting the reward from vanilla, I can put custom text as the displayed reward.

[CODE]  3:
    Message: Level 3 reached!
    Name: maxlevel_3
    DisplayName: "&4Newbie"
    Reward:
      Command: jobs editpoints add PLAYER 5; give PLAYER 126 5
[/CODE]

Shows up as "other" for reward

[2017-11-28 21:55] PyvesB commented on #263
Hello BobbyMere,

This is currently not possible. @supertassu had implemented similar support for item rewards in #214, maybe this is something he can pick up as well? Alternatively it would be nice to a general approach to be able to modify reward display names regardless of the reward type. 😉

Cheers,

Pyves

[2017-11-29 00:48] t0rched opened #264 "Missing Essentials"
I am missing Essentials when I follow steps to compile for 1.7.10...

[code]

[2017-11-29 09:07] supertassu commented on #263
Thanks for the tag @PyvesB; i'll take a look to it later today.

[2017-11-29 11:09] BobbyMere commented on #263
thank you for looking into it and seeing if it's a possible future update

[2017-11-29 11:59] BobbyMere opened #265 "Id for pigman zombie?"
What's the id for pigman zombie?

Zombie Pigman
(minecraft:zombie_pigman)

Both of these don't work

Zombie_Pigman:
10000:
Message: Kill 10000 zombie pigman
DisplayName: Bone crusher
Name: kills_10000_zombie_pigman

[2017-11-29 12:00] BobbyMere commented on #265
What's the id for pigman zombie?

Zombie Pigman
(minecraft:zombie_pigman)

Both of these don't work

  Zombie_Pigman:
    10000:
      Message: Kill 10000 zombie pigman
      DisplayName: Bone crusher
      Name: kills_10000_zombie_pigman

[2017-11-29 12:02] supertassu commented on #265
pig_zombie

[2017-11-29 12:04] BobbyMere commented on #265
Thank you. Is there a list some where for all the mob id's and reward options?

[2017-11-29 14:20] supertassu commented on #265
mob ids: https://hub.spigotmc.org/javadocs/spigot/index.html?org/bukkit/entity/EntityType.html
item ids: https://hub.spigotmc.org/javadocs/spigot/index.html?org/bukkit/Material.html

[2017-11-29 18:39] PyvesB commented on #265
Hey there,

Thanks for your help supertassu!

Funnily enough the exact same question was asked this week in #262. I recommend reading the [Wiki](https://github.com/PyvesB/AdvancedAchievements/wiki) and the information in the headers of the configuration files. 😉

Cheers,

Pyves

[2017-11-29 18:39] #265 closed

[2017-11-29 18:40] #260 closed

[2017-11-29 18:48] PyvesB commented on #264
Hello t0rched,

It's always been troublesome to keep the plugin compatible with 1.7 versions. To be totally honest, I'll probably have to drop support at some point, as I'm struggling to guarantee that support alone.

Try adding the following to the repositories in your `pom.xml`:
[code]
And try adding the following to the dependencies in your `pom.xml`:
[code]

Hope this helps! :wink:

Cheers,

P

[2017-11-30 09:00] t0rched commented on #264
Closer, but still fails. I wish I knew more about Java to get it going. I did find and am using the 2.3.3 version from Bukkit without any issues. I would have just preferred to compile the new version for obvious advantages. Here is the latest build log:

`[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building Advanced

[2017-11-30 09:28] t0rched commented on #264
I can get it to build by using this after a few failed attempts to fix the type... Not sure how this will affect things, but it worked complete the build at least. Progress!

![image](https://user-images.githubusercontent.com/20378331/33423438-6b70ca94-d57e-11e7-89dc-fe2c3e518ae8.png)

[2017-11-30 09:35] t0rched commented on #264
Alas, still fails as it would without any 1.7.10 changes and cloned straight from master:

org.bukkit.plugin.InvalidPluginException: java.lang.NoClassDefFoundError: guava10/com/google/common/collect/MultimapBuilder
	at org.bukkit.plugin.java.JavaPluginLoader.loadPlugin(JavaPluginLoader.java:149) ~[JavaPluginLoader.class:1.7.10-1614.58]
	at org.bukkit.plugin.SimplePluginManager.loadPlugin(SimplePlu

[2017-11-30 21:45] PyvesB commented on #264
Yes, version 1.7.10 ships an antique version of Guava (over 6 years old, version 10 released back in September 2011), which is required by Advanced Achievements for its `Multimap` data structures. You therefore need to shade Guava into Advanced Achievements, so that the plugin uses its own copy of Guava and not the one pulled in by Spigot. 😉

[2017-12-01 21:28] #263 closed

[2017-12-01 21:32] PyvesB commented on #263
Here's a test version if you want to give the new feature a try before the official release. I'm sure @supertassu would appreciate some user feedback! 😉

[AdvancedAchievements.zip](https://github.com/PyvesB/AdvancedAchievements/files/1523038/AdvancedAchievements.zip)

[2017-12-02 14:58] BobbyMere commented on #263
I can't get that plugin to load. Says there an error while loading config.yml file and disables itself.

[2017-12-02 18:10] masterolos09 opened #267 "Continued lag by Advanced Achievements"
There are 50 people playing on my server, when the AdvancedAchievements plugin is uploaded, there are TPS drops and there are lags, and how to remove AdvancedAchievements TPS is fixed 19.99 and there are no lags at the same number of players

Advanced Achievements 5.3.3
Linux Debian-91-stretch-64-minimal 4.9.0-3-amd64 #1 SMP Debian 4.9.30-2+deb9u5 (2017-09-19) x86_64
PHPMyAdmin is also the latest

[2017-12-02 18:34] PyvesB commented on #267
Closing as duplicate of #260. Keeping on stating that everything is perfect on your side even though it apparently isn't and refusing to try out some of the recommendations or alternatives I have previously suggested is not constructive. You have repeatedly lacked basic good manners in all your messages so far (not a single "Hello", "Please", "Thanks", etc.), therefore I will stop wasting my time

[2017-12-02 18:34] #267 closed

[2017-12-02 18:37] PyvesB commented on #263
D'oh! @supertassu, we missed out the quotes around `say §cALERT: §7PLAYER is now a statistician`!

[2017-12-02 19:08] supertassu commented on #263
You said to remove them

[2017-12-02 19:12] PyvesB commented on #263
There was a misunderstanding, I only meant that for `Become the Stone God` which didn't need them as it does to contain any special characters. ^^

[2017-12-02 19:13] supertassu commented on #263
Oopsie. On phone, can't make a pr now..

[2017-12-02 20:14] BobbyMere commented on #263
How do you get custom command to show a custom reward? Putting it after the final quantity after the command don't work. Is there another section for it? Otherwise, it still shows up as "other."

  stone:
    '1':
      Message: '&1The first time you went mining!'
      Name: break_1_stone
      DisplayName: Cobble!
      Reward:
        Command: give PLAYER 158 10 testing

reward comes up as "oth

[2017-12-03 01:53] Phoetrix opened #268 "Suggestion : Add placeholders to see players data"
Hi! Is it possible to add a compatibility with PlaceholderApi?

You say in the FAQ that you are not interested to working with other plugins. So if I add the compatibility in your plugin, you will add my class in a next update or not?

If you are okay with that, I would like to ask some questions to you and I have an error with the file "PlayerAdvancedAchievementListener.java" on the "listener" pa

[2017-12-03 07:23] supertassu commented on #263
[code]

[2017-12-03 08:45] supertassu commented on #268
a) If it's good, it will most likely be added
b) What error?

[2017-12-03 09:57] PyvesB commented on #268
Hello Phoetrix,

As pointed out by @supertassu, if you come up with a nice implementation, open a pull request so it can be reviewed and merged! :wink:

To import the package in Eclipse, have you followed the steps outlined in the [Developers Wiki](https://github.com/PyvesB/AdvancedAchievements/wiki/Developers)?

Cheers,

Pyves

[2017-12-03 09:58] PyvesB commented on #263
Here's a version with a fixed default configuration file:
[AdvancedAchievements.zip](https://github.com/PyvesB/AdvancedAchievements/files/1524636/AdvancedAchievements.zip)

[2017-12-03 10:19] Phoetrix commented on #268
Ok thank you! I don't known for the error. I get at first line of the class "PlayerAdvancedAchievementListener" => "The type com.google.common.collect.ImmutableList$Builder cannot be resolved. It is indirectly referenced from required .class files"

And Eclipse don't like these following lines:
`plugin.getCacheManager().getReceivedAchievementsCache().put(uuid, event.getName());
			plugin.getCacheM

[2017-12-03 10:28] Phoetrix commented on #268
Ah, it's good! I have a build now but the plugin reacts badly because I have errors on Eclipse with "PlayerAdvancedAchievementListener". I will send you all problems that I encounter if it persists.

[2017-12-03 11:59] BobbyMere commented on #263
Amazing job. Thank you for adding it.

[2017-12-03 12:43] supertassu commented on #263
Woo!

[2017-12-03 13:26] BobbyMere commented on #263
Why would this work:

  3:
    Message: Level 3 reached!
    Name: maxlevel_3
    DisplayName: "&aNewbie"
    Reward:
      Command:
        Execute: jobs editpoints add PLAYER 1
        Display: 1 Job point

But this not work:

  5:
    Message: Level 5 reached!
    Name: maxlevel_5
    DisplayName: "&6Novice"
      Command:
        Execute: jobs editpoints add PLAYER 5
        Display: 5 Job poi

[2017-12-03 13:34] PyvesB commented on #263
You are missing the `Reward:` section in the second one.

[2017-12-03 13:35] supertassu commented on #263
Pro tip: read the error message

[2017-12-03 13:46] BobbyMere commented on #263
I read it. I don't know what block end meant besides it meaning it was end of that line code. I have no idea what to look at to fix it as they both looked exactly the same. Well, the same besides "reward" missing

[2017-12-03 13:53] BobbyMere commented on #263
Anyways, thanks again. It works now

[2017-12-03 17:07] Phoetrix commented on #268
Ok so I follow steps on the Developper Wiki and do directly a build to test and I have these errors:

`03.12 18:00:37 [Server] ERROR Could not load 'plugins/AdvancedAchievements.jar' in folder 'plugins'
03.12 18:00:37 [Server] INFO org.bukkit.plugin.InvalidPluginException: java.lang.Error: Unresolved compilation problems:
03.12 18:00:37 [Server] INFO The import com.google.common.collect.Multimap c

[2017-12-03 21:13] PyvesB commented on #268
Could you please try adding the following to the dependencies in `pom.xml`, and see whether it helps with your issues in Eclipse?

[code]

[2017-12-03 21:22] Phoetrix commented on #268
Thank you very much PyvesB! Now it's work perfectly! :D

So I will begin my tests, see you later! ;)

[2017-12-03 21:51] PyvesB commented on #268
Awesome! I have committed the fix to the `master` branch to avoid any problems in the future. 😉

[2017-12-03 22:10] Phoetrix commented on #268
Ok I have finish my implementation of PlaceholderAPI in the plugin, everything work great but how can I send to you my class?

I see that we can commit our work on "Pull requests" but I don't understand how does it work... Haha my bad... :(

[2017-12-03 23:08] PyvesB commented on #268
Have you had a look at the [GitHub documentation](https://help.github.com/articles/creating-a-pull-request/) regarding pull requests? It should provide some help. ^^

[2017-12-03 23:14] Phoetrix commented on #268
Thank you, it's ok! :)

[2017-12-04 21:30] PyvesB commented on #268
Pull request #269 was merged. I have attached a test version so that anyone interested in PlaceholderAPI support can try it out. I'm sure @Phoetrix would appreciate some additional feedback before the official release. 😉

[AdvancedAchievements.zip](https://github.com/PyvesB/AdvancedAchievements/files/1528860/AdvancedAchievements.zip)

[2017-12-04 21:36] PyvesB commented on #268
Pull request #269 was merged. I have attached a test version so that anyone interested in PlaceholderAPI support can try it out. I'm sure @Phoetrix would appreciate some additional feedback before the official release. 😉

[AdvancedAchievements.zip](https://github.com/PyvesB/AdvancedAchievements/files/1528860/AdvancedAchievements.zip)

[2017-12-04 21:36] #268 closed

[2017-12-05 07:15] IgnisCraft opened #270 "Block Breaks/Mob Kills"
Is it possible to have the plugin look for TOTAL block breaks rather than having to specify a block? I want total blocks broken, not just stone. Also can't seem to find total mobs.

[2017-12-05 15:45] JohOply commented on #153
Some ideas:

- Mob spawning (Wither, Iron and snow golem)
- Killed by achievement

[2017-12-05 22:34] PyvesB commented on #264
@t0rched : I've put quite a bit of effort trying to get the plugin working with Minecraft 1.7 again. Could you please give this versions a try and see whether it works for you?

[AdvancedAchievements.zip](https://github.com/PyvesB/AdvancedAchievements/files/1533207/AdvancedAchievements.zip)

[2017-12-05 22:45] PyvesB commented on #270
Hello IgnisCraft,

This is not possible at this point. Please refer to #92 for some additional information. 😉

Cheers,

Pyves

[2017-12-05 22:45] #270 closed

[2017-12-06 02:21] t0rched commented on #264
@PyvesB absolutely. Will test this evening and advise, thank you for the work... will advise!

[2017-12-06 03:31] t0rched commented on #264
Works great! I had been using 5.3 without any issues. I just wanted to try to compile from source for a few custom changes for our server. This version works great. Were you able to resolve the issues building from source?

[2017-12-06 03:36] t0rched commented on #264
![image](https://user-images.githubusercontent.com/20378331/33643393-66dba686-da04-11e7-9821-f5b074752d04.png)

[2017-12-06 19:02] PyvesB commented on #264
Yes, the issues building from source should be solved. The non trivial bit was to pull in a recent version of Guava properly. In addition to shading Guava into Advanced Achievements, I had to relocate all Guava's packages as they are sealed in CraftBukkit (or at least in the old Minecraft 1.7 jar I managed to find on my machine).

I have also committed to `master` to automatically handle the `BARR

[2017-12-07 19:18] #264 closed

[2017-12-07 20:49] zAnonimo opened #271 "[15:47:35 INFO]: 1 <- Giving me this in console"
Hello guys, thanks for help and keeping this awesome project at first!
I just installed the plugin, and it works flawless, but in my console I get something that triggers me. Every single time someone kill a mob, or cut a wood, or mine a stone, or whatever action the user does, in console I get:
`[15:47:35 INFO]: 1`

Any idea? It's not an error at all, but it seems to spam my console a lot. Thanks

[2017-12-07 21:35] PyvesB commented on #271
Hello zAnonimo,

Are you sure this is coming from Advanced Achievements? Are you using version 5.4? I did a quick search through the code and didn't notice any leftover logging statements. I'm intrigued. :frowning:

Cheers,

Pyves

[2017-12-07 23:11] zAnonimo commented on #271
Hey, thanks for helping. Yes, I did various check with and without the Advanced Achievements. It was the last plugin I added, so I knew it was. Anyways, I checked to do these steps I listed in the main ticket, and it didn't say in console, so it had to be the plugin. I'll list you my actual Plugins.
`[18:11:20 INFO]: Plugins (47): FunnyFilter, CrazyCrates, Essentials, ClearLag, AutoMessage, Comman

[2017-12-07 23:32] PyvesB commented on #271
Interesting. I'll have a closer look into this tomorrow. Thanks for the additional information!

[2017-12-08 00:07] zAnonimo commented on #271
No worries, I'll be waiting. Thanks, PyvesB!

[2017-12-08 22:56] PyvesB commented on #271
Could you please send me your configuration?

[2017-12-08 23:15] zAnonimo commented on #271
`#==============================O==============================#
# I---------------------------------------------------------I #
# |     Advanced Achievements 5.4 configuration - Readme    | #
# 1---------------------------------------------------------1 #
#==============================o==============================#

# You can use Minecraft chat colors in Message|DisplayName|Goal, but include d

[2017-12-08 23:36] PyvesB commented on #271
I double-checked the code again, I didn't notice anything unexpected. I have just compiled the latest Spigot build and tried it with your configuration, I am not able to reproduce the issue.

Logs emitted by Advanced Achievements should all have a header, unless they do a direct call to `System.out.println` which I do not do in the plugin. For instance all of Advanced Achievements' logs will look

[2017-12-09 00:57] bjunited opened #272 "Question about colours"
Hello!

I just had a general question as to if there is anyway to change the colour from the grayed out style? As I find it quite hard to read. I notice that there is an option to change the default purple to aqua, but I was wondering if there was similar to change the dark gray. I seem to have a custom colour for the rewards display name, but nothing else.

Thank you for taking your time to look

[2017-12-09 08:52] PyvesB commented on #272
Hello bjunited,

There is no option to change that colour, but I can easily add one. 😉

Cheers,

Pyves

[2017-12-09 10:09] PyvesB commented on #272
Implemented! Here's a test version if you want to give it a try:
[AdvancedAchievements.zip](https://github.com/PyvesB/AdvancedAchievements/files/1544553/AdvancedAchievements.zip)

[2017-12-09 10:11] AngelStoyanov3 opened #273 "BungeeCord Support"
Do Advanced Achievements support BungeeCord? I really need multi-server achievements!

[2017-12-09 10:30] PyvesB commented on #273
Hello AngelStoyanov3,

No, there is no BungeeCord support, as it would probably not bring many benefits to the plugin. Why not simply use a MySQL or PostgreSQL database to share achievements between servers? 😉

Cheers,

Pyves

[2017-12-09 11:10] bjunited commented on #272
You are awesome! Thank you so much, I will give it a try now :)

[2017-12-09 12:01] bjunited commented on #272
Am I correct in thinking the Title for the achievement is changed to Red and the other text is changed to white?

[2017-12-09 14:13] bjunited commented on #272
Also, when I do the "&b" for a rewards display name, it shows it as aqua in the GUI, and then in dark gray with the &b in chat in front of the rewards name.

[2017-12-09 18:25] bjunited commented on #272
Hello!

Also, another question. Do you have a list of all the mob names for the Kill achievement, I am trying to do zombie pigman and have tried a lot of different combinations for the name and can't get it to recongnise it.

Thank you again! :)

[2017-12-09 19:11] supertassu commented on #272
PIG_ZOMBIE

[2017-12-09 19:33] bjunited commented on #272
That doesn't seem to work

[2017-12-10 23:14] PyvesB commented on #272
Here's a new version, providing fixes to some of the things you pointed out:
[AdvancedAchievements.zip](https://github.com/PyvesB/AdvancedAchievements/files/1546177/AdvancedAchievements.zip)

For mobs, get the list [here](hub.spigotmc.org/javadocs/bukkit/org/bukkit/entity/EntityType.html) and specify the mob name in lower case. ^^

[2017-12-10 23:24] bjunited commented on #272
Amazing, thank you so much! :) Still a few things that could be changed (Gray chat messages), but for the most part it's excellent. I really appreciate your help with this. Thank You.

[2017-12-11 02:18] Alphexon opened #274 "PlayerCommands achievements cannot be completed"
"PlayerCommands" achievements do not work, even when using the default config. They cannot be completed. This is on Spigot 1.12.2 and AdvancedAchievements 5.4.

[2017-12-11 05:25] Sprungente opened #275 "Advancement (Question)"
Hi people before someone closing it, i will a answer that's works

When I want AACH with the minecraft Advancement i use /aach generate
After them i restarted the server.

Now when i get an achievement no Advancement will giving me.

My question: Have i forget something?

Use aach V 5.4
CraftBukkit version git-Spigot-3d850ec-f46ccd7 (MC: 1.12.2) (Implementing API version 1.12.2-R0.1-SNAPSHOT)
Bung

[2017-12-11 18:41] PyvesB commented on #272
No problem! Feel free to open any new issues in the future or star the repository! 😉

[2017-12-11 18:41] #272 closed

[2017-12-11 19:06] PyvesB commented on #274
Hello Alphexon,

I am not able to reproduce this issue. Have you set your permissions correctly?

Cheers,

Pyves

[2017-12-11 19:14] PyvesB commented on #275
Hello Sprungente,

I do not really understand your message. Have all the plugin's advancements disappeared once you have restarted your server?

Cheers,

Pyves

[2017-12-12 00:19] Sprungente commented on #275
hi

No. It works fine but when I want to work with minecraft advancement player can earn a aach but nothing will happen on the minecraft advancement

[2017-12-12 21:28] PyvesB commented on #275
What do you mean by "but nothing will happen on the minecraft advancement"? Does the player not get the advancement corresponding to the received achievement?

[2017-12-12 21:54] JohOply opened #276 "Cooldown"
Hi

I have some questions and suggestions about cooldown:

1. Why is there a cooldown on the brewing achievement? I don't see what is the possible abuse
2. Could you add a cooldown on the milk achievement? I think it is too easy without cooldown (like water or lava bucket)
3. Instead of a global cooldown, is it possible to add a per-achievement cooldown? (only for some categories like currently be

[2017-12-12 22:30] PyvesB commented on #276
Hello JohOply! 😉

1. A player could put the potion back into the brewing stand, take it again, and so on and so forth. There is no `PlayerBrewEvent` or similar event in the Bukkit API, so Advanced Achievements can only detect simple interactions with the brewing stand inventory. Does this make sense?
2. The player needs to first drink the milk bucket or have multiple empty buckets in his action ba

[2017-12-13 02:30] Sprungente commented on #275
Yes

Am 12.12.2017 um 22:28 schrieb Pyves <notifications@github.com<mailto:notifications@github.com>>:

What do you mean by "but nothing will happen on the minecraft advancement"? Does the player not get the advancement corresponding to the received achievement?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/PyvesB/Adva

[2017-12-13 19:01] PyvesB commented on #275
Were there any errors/warnings in the server's log when you ran _/aach generate_? What about when a player receives an achievement?

[2017-12-14 07:37] Blackdigits opened #278 "Custom Nametag"
Can you add it so that people can choose to show the Achievement they have successfully earned in their nametags?

Just like this, https://www.spigotmc.org/resources/animatednames.2175/
so they can add it under it, with a new command like /aach title achievementname

[2017-12-14 11:08] EncryptSL opened #279 "SQL error while retrieving playedtime stats"
Hello this error i found when first player join on server.

`[12:02:23] [Server thread/ERROR]: [AdvancedAchievements] SQL error while retrieving playedtime stats:
com.mysql.jdbc.exceptions.jdbc4.CommunicationsException: Communications link failure

The last packet successfully received from the server was 152,494 milliseconds ago.  The last packet sent successfully to the server was 0 milliseconds

[2017-12-14 15:57] Phoetrix commented on #278
Hi!

You can only show a statistic of an achievement by install the plugin PlaceholderAPI on your server and set in the config of AnimatedNames an achievement placeholder.  Here is the list: https://github.com/PyvesB/AdvancedAchievements/pull/269

Example:
`name-below:
  # Set to false to disable the name under name (REQUIRES RESTART)
  enabled: true
  # A list to create animations
  # Make sure t

[2017-12-14 18:44] PyvesB commented on #279
Hello EncryptSL,

Does this only happen with `PlayedTime` statistics? What do you mean by "when first player join on server"? After every server restart for instance?

Cheers,

Pyves

[2017-12-14 21:17] EncryptSL commented on #279
Hi, when the server restarts and the player connects. First of all players ;).

[2017-12-14 23:30] PyvesB commented on #279
What are the values of the `wait_timeout`, `interactive_timeout ` and `connect_timeout ` of your MySQL database?

[2017-12-15 01:26] Sprungente commented on #275
I'm sorry. the problem was, that 2 achievements have the same name.

It was my mistake and I have fixed for me.

https://pastebin.com/DsJgcGwD

[2017-12-15 07:53] PyvesB commented on #275
Glad it's fixed! Have fun using the plugin!

[2017-12-15 07:53] #275 closed

[2017-12-15 09:18] supertassu commented on #275
@PyvesB It should display a message instead of giving  stack trace to end user. I can make a PR about this, just wouldn't mark it solved.

[2017-12-15 22:16] PyvesB commented on #275
@supertassu : well the `parseAchievementsAndDisplayNames` already checks and warns about duplicate achievements on startup. If the user does not pay attention to the console after setting a new plugin or ignores warning/error messages, they should be ready to face the consequences. ^^

[2017-12-16 08:56] Sprungente commented on #275
One question i have at the end

Why are the progress from aach advancement (not aach itself) away after restart?

Am 15.12.2017 um 23:16 schrieb Pyves <notifications@github.com<mailto:notifications@github.com>>:

@supertassu<https://github.com/supertassu> : well the parseAchievementsAndDisplayNames already checks and warns about duplicate achievements on startup. If the user does not pay attention

[2017-12-16 12:25] Blackdigits opened #280 "Adding and destroying"
People would just add and break diamond_ore to get the achievement of #break, is this intentional? Or is there any way to prevent it?

[2017-12-16 12:47] PyvesB commented on #280
Hello @Blackdigits,

The `Breaks` category is triggered _"when a specific block is broken"_, so yes, this is intentional, the plugin is doing its job. Nevertheless you can alter the expected behaviour by modifying the `DisableSilkTouchBreaks` or `DisableSilkTouchOreBreaks` configuration options. 😉

Cheers,

Pyves

[2017-12-16 12:48] PyvesB commented on #271
@zAnonimo: any luck with the above?

[2017-12-16 12:48] #273 closed

[2017-12-17 07:46] Blackdigits commented on #280
How about spawners? Can I disable mobkill counts from mobs?

[2017-12-17 09:07] PyvesB commented on #280
No, you can't, it wouldn't really make sense. ^^

[2017-12-17 17:46] PyvesB commented on #279
I'm performed a few changes over the week-end to make the database read operations more robust, this may help you out as well. Would you like to give this test version a try?

[AdvancedAchievements.zip](https://github.com/PyvesB/AdvancedAchievements/files/1565874/AdvancedAchievements.zip)

[2017-12-18 00:47] iAzk opened #281 "Error on /aach generate"
Version: Spigot.1.12
Last version of plugin: Yes

Error: https://hastebin.com/faqojasotu.bash

[2017-12-18 07:47] PyvesB commented on #281
Hello iAzk,

Please try restarting your server. If it doesn't help fry manually deleting the advancements on your server. Unfortunately the advancements system is really unstable and unreliable, and Spigot still doesn't provide a proper API over 6 months after the release of Minecraft 1.12. :/

Cheers,

Pyves

[2017-12-18 14:27] EncryptSL commented on #279
I'm sorry I did not answer earlier, but my server provider did not answer my questions about setting up the database. Sorry for my english. ;) Ok i go this testing. ;).

[2017-12-19 16:00] EncryptSL commented on #279
Working without error good job.

[2017-12-19 22:55] PyvesB commented on #279
Awesome, let me know if anything unexpected happens in the coming days!

It would have been interesting to get the values of those parameters. Basically the plugin creates an initial connection to the database and uses it to interact with it later on. In your case MySQL closes the connection before the first player connection and the plugin has to open a new one. This is now handled in a cleaner a

[2017-12-19 22:55] #279 closed

[2017-12-20 10:17] Rsl1122 opened #282 "Finnish locale translation"
I did this on mobile, I'll do the rest when I get my internet back ;]

[code]

[2017-12-20 13:23] PyvesB commented on #282
Hello @Rsl1122,

Thanks for this! Feel free to open a pull request once you're happy with the translation. 😉

Cheers,

Pyves

[2017-12-20 14:31] PyvesB commented on #276
Here's a test version covering point 2 and 3 above. Enjoy!

[AdvancedAchievements.zip](https://github.com/PyvesB/AdvancedAchievements/files/1575841/AdvancedAchievements.zip)

[2017-12-20 17:44] Provensis opened #283 "Random Achievement"
Hey, first off I wanna say the plugin looks incredible, nice work!
Well, now my questions.
Is there a way to give my players 2 random achievements. Then when they completed a achievement, they will get a new one?
And maybe a Weekly achievement too. A category where they only get 1 achievement every week? Random for every player here too. :)

[2017-12-20 20:49] zAnonimo commented on #271
@PyvesB Hey, I'm sorry. Didn't test it without any other plugins because I'm almost opening my server and that would be a lot of lose time that I don't really have :cry:. It keeps happening tho, without any issue atm.

[2017-12-20 21:13] PyvesB commented on #271
Okay, maybe just try without ViaVersion/Backwards and ProtocolLib. They seem like the most likely to be conflicting after a quick read through your plugin list. ^^

[2017-12-21 03:25] #274 closed

[2017-12-21 10:00] PyvesB commented on #283
Hello @Provensis ,

Advanced Achievements does not currently support random achievements or achievements awarded on a scheduled basis (each week for instance).

Yes, when an achievement is completed they could get a second one. You can use the _Commands_ category (or soon the _Custom_ category added in #277) and as a reward for the first achievement you can specify an _/aach give_ command which wi

[2017-12-21 13:59] Rsl1122 commented on #282
#284 Closes this issue.

[2017-12-21 13:59] #282 closed

[2017-12-22 16:38] #276 closed

[2017-12-22 16:39] PyvesB commented on #278
There hasn't been any news on this issue for over a week, I'm assuming @Phoetrix has answered to everything and therefore closing it! 😉

Cheers,

Pyves

[2017-12-22 16:39] #278 closed

[2017-12-22 16:39] #280 closed

[2017-12-22 19:49] Provensis commented on #283
Hello, thank you for the comment, I appreciate it a lot!

That might actual work, good idea. :)

Btw. is the achievements stored in a database or something? Might be able to do a cron job or something in the database for all players each week.

[2017-12-22 20:40] PyvesB commented on #283
@Provensis : received achievements are stored in the database, `achievements` table. The schema is the following for SQLite:
[code]

[2017-12-24 16:22] Sprungente commented on #275
https://pastebin.com/jMJ1ytnY

After Restart, configchange or others what i'm changing with aach will make broken my aach. Every time my custom achievement are the problem.

https://pastebin.com/jMJ1ytnY

vote for reopen

[2017-12-24 16:27] Sprungente commented on #281
i'm sure it will happen after config change. Same as me #275

everytime the custon achievement is the problem.

@PyvesB Maybe with a Jiraticket or mailing md_5 about advancement could bringing more help for the unstable problem

[2017-12-25 22:14] S3nS3IW00 opened #287 "Reward display"
Hello dear Developer(s)!

Can you add custom reward list? So I can add reward title for command, example:
Reward:
 Item: diamond 10
 Command: give PLAYER diamond 5

Rewards: (In aach list gui)
- 10 Diamond
-  5 Diamond

[2017-12-26 11:02] PyvesB commented on #287
Hello @S3nS3IW00 ,

I recommend taking a look at the [new Rewards Wiki page](https://github.com/PyvesB/AdvancedAchievements/wiki/Rewards). Since version 5.4 of the plugin, you can indeed display a custom reward title for the command (implemented by @supertassu in #263). Use something like this:
[code]
Let us know whether this helps!

Cheers,

Pyves

[2017-12-26 11:04] S3nS3IW00 commented on #287
Thank you so much! I'm sorry for this.

[2017-12-26 11:04] #287 closed

[2017-12-26 11:06] PyvesB commented on #275
I suggest we continue the discussion in #281, as it seems to be a similar issue. ^^

[2017-12-26 11:08] PyvesB commented on #287
No problem, I'm happy to help. 😉

[2017-12-26 16:15] PyvesB commented on #281
@Sprungente : After a very quick search, several issues that seem to be closely linked to this one have already been reported, but unfortunately closed:
- [SPIGOT-3512](https://hub.spigotmc.org/jira/browse/SPIGOT-3512)
- [SPIGOT-3627](https://hub.spigotmc.org/jira/browse/SPIGOT-3627)

Last time I opened a JIRA ticket, it was closed as well within less than an hour with no possible discussion. The

[2017-12-27 23:09] Sprungente commented on #281
too bad that spigot isn't open for it. Try to write md5 an email ( plugins@md-5.net ) and talking with him about this issue. When he wanna say, make a bug report so you can say it in Jira or say md5 about the jirasituation.  It looks that we have to fight for a bugfix 🤣

To the issue

Download here:

https://workupload.com/file/bxsQ2JG

Try out: Change a value in a Achievement
- Change storagetype

[2017-12-28 09:35] PyvesB commented on #281
Unfortunately I'm not able to reproduce your issue. Here's how I have been proceeding:
- run _/aach generate_.
- modify an existing achievement as you indicated.
- run _/aach reload_ to pick up the new configuration.
- run _/aach generate_ again.

I've tried this five times in a row with your configuration, and have attempted to modify different achievements in different ways. The command was syst

[2017-12-29 14:49] Rsl1122 opened #288 "Code improvement: getPluginLang().getString calls could be cleaned up"
In the current implementation path and default value are specified every time a call for a message is made.

Code can be cleaned up by introducing an enum containing paths and default messages

For example:
`plugin.getPluginLang().getString("aach-tip", "&lHINT &8You can &7&n&ohover &8or &7&n&oclick &8on the commands!"));` would become `plugin.getPluginLang().getString(Msg.AACH-TIP)`
[code]
getPlug

[2017-12-30 22:17] PyvesB commented on #288
Hello @Rsl1122,

Indeed, this seems like a good idea. The calls to read values from the configuration are unnecessarily chatty. 😉

Cheers,

Pyves

[2017-12-31 06:08] ArceusMaster0493 opened #290 "Detect what killer is holding"
Is it possible to detect what a player is holding when he killed another player? I'd like to add some achievements related to that, such as killing a player with a stick, but I am not sure how this can be accomplished.

[2018-01-02 17:52] GameCraft27 opened #292 "[BUG] Help for the Advanced Achievement MineCraft Plugin"
Hello (I'm Frensh, sorry for the bad langage)
I have recently have a bug with the Advanced Achievement plugin.
I have translate and config this on the lang and config files and when I have reload, the bug spawned !
[This is the console log of the bug, please help me :( ...
](https://image.noelshack.com/fichiers/2018/01/2/1514915515-aach.png)

[2018-01-02 18:17] PyvesB commented on #290
Hello @ArceusMaster0493 ,

This is unfortunately no possible with the current version of the plugin. 😉

Cheers,

Pyves

[2018-01-02 18:21] PyvesB commented on #292
Hello @GameCraft27 ,

Please use the latest version of the plugin (your version is almost 8 months old) and please attach your configuration files if still encounter issues. 😉

Cheers,

Pyves

[2018-01-02 19:10] GameCraft27 commented on #292
Thanks you very much !
I make that now.
And your plugin is very cool ! :)

[2018-01-02 21:34] sawyerwd opened #293 "[BUG] Advanced Achievements isn't working for me, my config is broken ):"
Hi,

My config is currently broken and when I restart the server and do /aach, it has "An internal error."

My config: https://pastebin.com/eeSv5Wre

[2018-01-03 16:57] HotelMakar opened #294 "Statistics not counting on survival"
when i break blocks on creative it gives me the first time mining achivement but when i use another acc to mine in survival the stats didn't even count i checked /aach list on that acc and its 0 blocks broken

[2018-01-03 21:20] #271 closed

[2018-01-03 21:22] #283 closed

[2018-01-03 22:00] PyvesB commented on #293
Hello @sawyerwd,

I've spotted the following issues with your configuration:
- you must specify mob names for the `Breeding `category, as shown in the default configuration.
- the indentation of the `Reward` section of the _place_500_smooth_brick_ achievement is incorrect.
- you have duplicated the `Name` parameter of some of the achievements (the plugin logs will indicate which ones).

Hope this

[2018-01-03 22:08] PyvesB commented on #294
Hello @HotelMakar,

I am unable to reproduce. Are you using the latest version of the plugin with a recent Spigot build? Are there any warnings, error messages or stack traces in the server's logs? If the issue persists, please share your configuration file. 😉

Cheers,

Pyves

[2018-01-04 10:25] HotelMakar commented on #294
https://pastebin.com/QGAHDDR2

[2018-01-04 14:37] diogoxarons opened #295 "Extend PlaceholderAPI support"
Hello .
This plugin have now a **PlaceholderAPI support*** and that´s great, but, it would be great have more useful placeholders .

For example:
1. Total unlocked achievements (number)
2. Total unlocked achievements (%)
3. Total achievements (number)

That would be great .. really useful in scoreboard .

Thank you .

***List of Placeholders** : https://github.com/PyvesB/AdvancedAchievements/pull/

[2018-01-04 19:50] PyvesB commented on #294
I am not able to reproduce with your configuration. Please refer to my questions above.

[2018-01-04 19:52] PyvesB commented on #295
Hello @diogoxarons ,

@Phoetrix implemented PlaceholderAPI support in this project, maybe he'll be interested in taking a look at these new features as well? 😃

Cheers,

Pyves

[2018-01-05 02:05] diogoxarons commented on #295
I hope yes ! :)

Thank you .

[2018-01-05 15:53] HotelMakar commented on #294
theres no error (at least i didn't see any) and im using latest version ;-;

[2018-01-06 22:06] PyvesB commented on #281
@iAzk @Sprungente Any news?

[2018-01-06 22:08] PyvesB commented on #294
There must be a plugin conflict. Can you give me a list of all the ones on your server, I'll see if I spot anything fishy.

[2018-01-07 15:36] Phoetrix commented on #295
Yes it's a good idea! :)
Unfortunately I have exams from 18th till 29th of January so I will probably do that at the end of the month.

Thank you for your patience! :)

[2018-01-07 15:48] diogoxarons commented on #295
@Phoetrix
Waiting for news :)

Thank you .

[2018-01-08 02:12] Sprungente commented on #281
Oh i didn't see that you need datas :O I'm sorry

Here: https://transferxl.com/08vN0ShxfDJbrN

Could bungeecord be trigger this issue?

[2018-01-08 05:23] Rsl1122 commented on #288
Messages can be split to multiple categories with multiple enums implementing a Msg interface similar to `Category`

[2018-01-08 19:04] iKingM opened #297 "Rewards when all achievements are received"
Hi, just some quick question :
Is it possible to execute a command when a player has completed all the achievements ?

Is it possible to disable a category of achievement ?

how can I check if a player has completed all the achievements ?

[2018-01-08 19:49] PyvesB commented on #297
Hello @iKingM,

No, it is currently not possible to execute a command when a player has completed all the achievements.

You can disable a category by adding it to the `DisabledCategories` list in the [configuration file](https://github.com/PyvesB/AdvancedAchievements/blob/e873eee9ff0d46ce688da8c9d7bd8bfcf676bdea/src/main/resources/config.yml#L105).

[2018-01-08 20:09] iKingM commented on #297
Do you think it is a good idea to add this to your plugin or to create a command to see the stats of others players. For example /aach stats (players) ?

[2018-01-08 21:55] EncryptSL opened #299 "New suggestion to add to the plugin."
Hello PyvesB, i have new suggestion for this plugin.
You can add like progress in achievements.
Like this example:

Progress:
 item: SIGN
 name: '&5Information'
 description:
 - '&f Actual Page: %current_page%/ (%current_missions_on_page%)'
 - '&fTotal count page: %count_pages%/(%total_count_missions%)'
 - '&fYou did not finish %no_finish_ach%'
 - '&fFinished Achievements - %missions_complete%/%to

[2018-01-09 14:48] HotelMakar commented on #294
sry 4 late reply https://gyazo.com/247b7fb66176677c68d581dd90cbd306

[2018-01-09 19:35] PyvesB commented on #281
Still not able to reproduce with your server's configuration. I doubt BungeeCord would have anything to do with advancement issues. Have you got any other plugins that interact with advancements or that alter how the server works/restarts?

[2018-01-09 21:27] #288 closed

[2018-01-09 21:37] PyvesB commented on #294
That's a lot of plugins, the vast majority I don't know at all. I suggest you remove all plugins except Advanced Achievements, check that _Breaks_ statistics increase as expected, and progressively add your other plugins again. You should find a point at which Advanced Achievements stops working properly, which will indicate the plugin causing issues. 😉

[2018-01-09 21:44] PyvesB commented on #297
Rather than just executing a command, I think it's better to let the user choose rewards as usual. Something configurable, like this:
[code]

[2018-01-09 21:56] PyvesB commented on #299
Hello @EncryptSL,

This would be quite involved work, I'm not keen on diving into the GUI again at this point. Also, I don't think it's a good idea to copy another plugin's GUI, Advanced Achievements should stick to its own style. 😉

Cheers,

Pyves

[2018-01-11 03:07] Sprungente commented on #281
no :/
But i have maybe a groundbreaking discovery:

AACH Advancement exist after is generated but AACH Advancement don't save in the player Advancement Jsonfile, only normal minecraftadvancement. After restart AACH Advancement don't exist but stay in advancements/advancedachievements. When i type now /aach generate the error will occour.

But i don't know why it is on your testserver without probl

[2018-01-11 03:17] Sprungente opened #300 "Suggestion: An /ticket command"
/aach ticket
Sounds funny but should be helpful for you and should give you many information to help
Maybe you can include in this command and generate automativally a hastebin (link or data) with for example this information:
- What kind of plugins are on the server
- Your Pluginversion
- Spigotversion
- Any useful information that you can help more efficient.

When for example i wanna open a Iss

[2018-01-11 21:08] iKingM commented on #297
"AllAchievementsReceivedRewards" already exists ?
Because this is exactly what I want.

[2018-01-12 09:15] NelsonHD opened #301 "Add support for MythicMobs + locations + WorldGuard"
Would you like to add the support for MythicMobs and locations ?
e.g
MythicMobs_kill;
     '10':
          Message: 'You killed 10 x Mega Slime Boss !'
          Name: MM_10_Kill
          DisplayName: 'Slime Lover'
          Reward:
               Item: slime_ball 1 name:"&eI_wont_forgive_you" lore:"&6Can_you_hear_that_?
                       |&6They_are_crying...:('

[2018-01-13 01:33] Sprungente commented on #281
Maybe Mypet create this problem

After i hit a pet, the other has removed it and then i got all Achievements, that i had reached in AACH.

@iAzk do you have the plugin too?

[2018-01-14 15:32] HotelMakar commented on #294
i think it doesn't work because there is autopickup enabled i deleted the autopickup plugin and used another autopickup plugin and it stopped working again

[2018-01-14 17:39] PyvesB commented on #281
Does _MyPet_ actually have anything to do with advancements?

[2018-01-14 17:40] #290 closed

[2018-01-14 17:42] PyvesB commented on #292
@GameCraft27 : is everything okay on your side now?

[2018-01-14 17:43] #293 closed

[2018-01-14 17:59] PyvesB commented on #294
AutoPickup possibly cancels or messes around with the server's _BlockBreakEvent_. Therefore Advanced Achievements has no way of telling that the player has actually broken a block, and statistics don't increase in Survival game mode. In Creative game mode, breaking blocks does not trigger any block drops, and AutoPickup is probably inactive in that case.

[2018-01-14 18:01] PyvesB commented on #297
Well no, as per my initial message, there is no way of currently doing so. Nevertheless I'm adding this new feature, the implementation should soon be ready. ^^

[2018-01-14 18:05] iKingM commented on #297
Ok thanks :)

[2018-01-14 18:10] PyvesB commented on #300
Hello @Sprungente ,

There already are simple commands that allow you to retrieve that information (_/aach info_, _/pl_ and _/version_), I'm not sure it would actually be useful to have a unique command that prints out the same information. Often, the plugin's configuration is the most useful piece of information needed in tickets. 😉

Cheers,

Pyves

[2018-01-14 18:14] PyvesB commented on #301
Hello @NelsonHD ,

I'm assuming you've read [question 10](https://github.com/PyvesB/AdvancedAchievements/wiki/FAQ-(Frequently-Asked-Questions)#10-can-the-dev-add-support-for-mcmmo-mythicmobs-or-any-other-exotic-plugin) of the FAQ, and therefore you or another developer you know is going to submit a pull request?

Cheers,

Pyves

[2018-01-14 19:02] PyvesB commented on #297
Here's a test version, would you like to give it a try?

[AdvancedAchievements.zip](https://github.com/PyvesB/AdvancedAchievements/files/1629681/AdvancedAchievements.zip)

[2018-01-14 19:45] iKingM commented on #297
I added a command to execute when all achievements are received and I get this error :
https://pastebin.com/wMkSggHs

[2018-01-14 20:02] iKingM commented on #297
I added a command to execute when all achievements are received but when I get the last achievement the command is not executed.

Log : https://pastebin.com/2D5gi6Gs
Config : https://pastebin.com/cmm6SBir

[2018-01-14 21:02] PyvesB commented on #297
You config show the achievement _itemdrops_25_, but you have only received _itemdrops_20_. Are you sure you have received all the achievements? Also, are you testing with a fresh database? What does _/aach stats_ display?

[2018-01-14 21:23] iKingM commented on #297
I cleared the database and restarted the server to try again.
The command /aach stats displayed 0% so it was good.

I completed the 3 itemdrops achievements

After the command /aach stats displays 100% : http://prntscr.com/i0fk9r
but the command executed when all the achievements are received is not executed.

The config is the same and the log : https://pastebin.com/RZjEbqVC

[2018-01-14 21:46] PyvesB commented on #297
Okay, I think the problem boiled down to the fact that the plugin was expecting all achievements to be received, even the ones in disabled categories, and I did not spot this whilst testing. Here's an updated version, hopefully it will work as expected!

[AdvancedAchievements.zip](https://github.com/PyvesB/AdvancedAchievements/files/1629855/AdvancedAchievements.zip)

[2018-01-14 21:55] iKingM commented on #297
This is good !
Thanks you're the best ;)

[2018-01-14 22:03] PyvesB commented on #297
Awesome, thanks for helping out with the testing! I'll try to release this officially sometime this week, please give me a shout if you spot anything unexpected before then. 😉

[2018-01-14 22:03] #297 closed

[2018-01-15 09:34] HotelMakar commented on #294
how to fix it D:

[2018-01-15 18:08] iKingM opened #302 "Rewards don't work"
Hi @PyvesB

This post follow this one : https://github.com/PyvesB/AdvancedAchievements/wiki/Rewards

The reward for all achievement works but the reward for a simple achievement doesn't work. The command is not executed when a player received one of the achievement.

[2018-01-15 18:52] supertassu commented on #302
Could you share your config? Thanks.

[2018-01-15 19:09] PyvesB commented on #302
Hello @iKingM ,

I will look into that. @supertassu, probably not a configuration issue, I think I messed up some refactoring performed as part of #297, which would make sense as @iKingM is using a test build of the plugin. 😉

Cheers,

Pyves

[2018-01-15 19:13] PyvesB commented on #294
Well either stop using such pickup plugins/use a different one or submit a report to the relevant author.

[2018-01-15 19:28] PyvesB commented on #302
More luck with the following version?

[AdvancedAchievements.zip](https://github.com/PyvesB/AdvancedAchievements/files/1632804/AdvancedAchievements.zip)

[2018-01-16 18:13] #302 closed

[2018-01-16 20:10] zAnonimo commented on #271
Finally I had time to test. It's not a problem of AdvancedAchievement, thanks for your support and your amazing plugin!

[2018-01-18 18:50] #292 closed

[2018-01-18 18:50] #294 closed

[2018-01-18 19:41] Armek15 opened #303 "[Request] EssentialsX Integration"
Can you add an EssentialsX integration please?

[2018-01-18 21:12] PyvesB commented on #303
Hello @Armek15 ,

What do you mean? The plugin already has EssentialsX integration, with features such as `IgnoreAFKPlayedTime`. 😉

Cheers,

Pyves

[2018-01-18 23:08] UzumakiYT opened #304 "[Request] Add option to disable backup for files."
Add option to disable backup for files.

[2018-01-19 11:55] Xiazihong opened #305 "Mysql storage error"
Plug-in version: 5.6
Server Version: 1.7.10
Error log:
https://paste.ubuntu.com/26416109/
All Error log:
https://paste.ubuntu.com/26416114/

[2018-01-19 16:05] R-Josef commented on #305
`[23:54:12 INFO]: [AdvancedAchievements] Player Fengshuai received the achievement: connect_1 (Good Choice)
[23:54:16 ERROR]: [AdvancedAchievements] Database write error while updating connection date and count:
java.sql.SQLException: Incorrect string value: '\xAC\xED\x00\x05sr...' for column 'playername' at row 1
        at com.mysql.jdbc.SQLError.createSQLException(SQLError.java:965) ~[spigot-1.

[2018-01-19 17:10] aurel85 opened #306 "A small detail"
Hi,

With the last version (5.6) I have this small display error when i am doing /aa reload :

![capture](https://user-images.githubusercontent.com/24486147/35162285-27d4224e-fd43-11e7-8943-5d78d336780e.PNG)

I am using the latest version of the FR translation file.
Nevertheless the command works correctly.

Thank you in advance.

[2018-01-19 20:06] jiongjionger opened #307 "[Error]NPE with empty command categories"
Plugin version: 5.6
Server version: 1.12.2

I have empty commands categories and disable commands.
However, the Commands category is still displayed in the GUI, and an error occurs when I click the commands category button.

error log:
https://paste.ubuntu.com/26418572/

[2018-01-19 20:37] jiongjionger commented on #305
https://github.com/PyvesB/AdvancedAchievements/commit/e67f73068c71495b73be1d691d2e878439156304

This problem should be caused by
ps.setObject (1, uuid);

[2018-01-19 20:47] #307 closed

[2018-01-19 23:04] PyvesB commented on #305
Hello guys,

I had tested quite extensively with SQLite, but there obviously is a problem with MySQL. Sorry about it, will release a fix in the coming days! 😉

Cheers,

Pyves

[2018-01-19 23:05] PyvesB commented on #307
Hello @jiongjionger ,

Is this problem solved?

Cheers,

Pyves

[2018-01-19 23:09] PyvesB commented on #304
Hello @UzumakiYT ,

Why? Any context, reasons or background for this request? This seems more like a random order rather than a constructive suggestion.

Cheers,

Pyves

[2018-01-20 10:45] #305 closed

[2018-01-20 10:50] PyvesB commented on #306
Hello @aurel85 ,

Thanks for the report. This was introduced in #296 and will be fixed shortly. 😉

Cheers,

Pyves

[2018-01-20 10:53] #306 closed

[2018-01-20 10:55] PyvesB commented on #305
This bug was introduced in #291 and should now be fixed. An official plugin update will be released shortly.

[2018-01-20 18:39] Cllww opened #308 "[REQUEST] Timed Reset"
Add daily achievements feature. Reset all achievement stats per set time amount. Stats reset every 24hours.

[2018-01-23 22:52] EncryptSL opened #309 "BatchUpdateException in AsyncCachedRequestsSender"
I found new error in plugin.
Version plugin: 5.6.1
And two days function is normal without error.

Error in this log:
https://pastebin.com/e6j7g8bp

[2018-01-23 22:58] PyvesB commented on #309
Hello @EncryptSL ,

I will look into this. Doesn't seem too serious as you state it only happened once in two days and it seems to affect the batch updater (which will retry its operations later on). 😉

Cheers,

Pyves

[2018-01-23 23:12] EncryptSL commented on #309
Thx for answer.

[2018-01-24 19:01] PyvesB commented on #309
I have attempted a fix, hopefully the error should not happen again. Here is a test version:
[AdvancedAchievements.zip](https://github.com/PyvesB/AdvancedAchievements/files/1661277/AdvancedAchievements.zip)

Please come back to me if the problem persists.

[2018-01-25 04:36] EncryptSL commented on #309
I think with this fix plugin working.
Good job.

I will watch the plugin and its working on server.

[2018-01-25 15:46] SnUncle opened #310 "Custom category help!"
Im using default config.yml but when i type /aach add 1 votes player
sever answer me ' the category votes does not exist'
am i typed the wrong command?

sorry for my bad English

[2018-01-25 18:39] PyvesB commented on #310
Hello @SnUncle ,

As shown in the [Wiki](https://github.com/PyvesB/AdvancedAchievements/wiki/Commands-and-permissions) example, you have to specify the category name, for instance ` /aach add 1 Custom.votes player`. You've got auto-completion available, you can just press the _Tab_ key instead of having to type. 😉

Hope this helps!

Pyves

[2018-01-25 21:40] #299 closed

[2018-01-25 21:41] #300 closed

[2018-01-25 21:43] #303 closed

[2018-01-25 21:43] #304 closed

[2018-01-25 21:44] #308 closed

[2018-01-25 21:45] PyvesB commented on #309
Awesome! I've deployed this in version 5.6.2, please don't hesitate if you get any new database errors. ^^

[2018-01-25 21:45] #309 closed

[2018-01-25 21:47] PyvesB commented on #281
I'll keep this issues opened for now, we still need to find a reliable way to reproduce these errors to make progress. Any help or contributions are welcome. 😉

[2018-01-26 04:18] SnUncle commented on #310
thx a lot!

[2018-01-26 07:32] #310 closed

[2018-01-27 16:33] Phoetrix commented on #295
Hi @PyvesB !

I have a problem. I have finish to add these three news placeholders but I can't do a build. I don't know why.
Error messages don't help me because I am not very familiar with maven and eclipse. :(
I send to you the error folder.

[surefire-reports.zip](https://github.com/PyvesB/AdvancedAchievements/files/1670244/surefire-reports.zip)

[2018-01-27 17:16] Phoetrix commented on #295
And I understand nothing about the website of Github. You say to me on my last pull request that I need to keep my master branch as an exact copy of the main repository but how?

The website say to me that I have conflicts with some files and "_Merging is not possible because you have unmerged files._"
But.... I just want to replace my current copy of your repository with the latest version of you

[2018-01-27 19:41] PyvesB commented on #295
Hey @Phoetrix!

Are you trying to build via Eclipse? Is Eclipse configured to use a Java JDK and not just a JRE (check in _Preferences -> Java -> Installed JREs_, this should actually point to a JDK installation)?

Regarding GitHub, I don't know where you have made your new changes, but store them somewhere secure on your computer and try the following commands on your master branch:
[code]

Then

[2018-01-28 14:16] Phoetrix commented on #295
Yes I build via Eclipse. Everything seems good for me but the build doesn't work. The only way that I found to build is to add these followings lines on the _pom.xml_:

`<plugin>
   <groupId>org.apache.maven.plugins</groupId>
   <artifactId>maven-surefire-plugin</artifactId>
   <version>2.19.1</version>
   <configuration>
      <testFailureIgnore>true</testFailureIgnore>
   </configuration>
</plug

[2018-01-28 17:37] PyvesB commented on #295
If you still have build issues even after ensuring that you are running a JDK, you can try creating a new Maven Build configuration and put `clean install -DskipTests` as goals. To create a new Maven Build configuration, right click on the project, _Run as-> Run configurations... -> Maven Build -> New launch configuration_. That should skip the tests entirely without having to modify the _pom.xml_

[2018-01-28 20:07] ToXiCHaZe541 opened #312 "Advancement issue"
When doing /aach generate it throws up a internal server error and gives the error below in console. Also when pressing 'L' to open the advancement menu it will very rarely show the book for the advancements and when it does all the icons are sitting on top of each other.

Error:
https://hastebin.com/erexuripac.vbs

[2018-01-28 20:11] #312 closed

[2018-01-29 21:38] PyvesB commented on #312
@ToXiCHaZe541 : is your issue solved?

[2018-01-29 21:47] ToXiCHaZe541 commented on #312
I got it to work by deleting the advancements in the world folder and restarting the server but I'm not sure if it's a permanent fix yet. I closed the ticket because I seen it was reported before and seen that you weren't able to do much due to the lack of proper API from spigot. I didn't notice until I already made a ticket.

[2018-01-29 21:50] PyvesB commented on #312
Okay, thanks for the feedback! If ever you find a way to properly reproduce this error, please comment on #281 as this would help us out. 😉

[2018-01-30 04:09] EncryptSL opened #313 "I found Bug in custom category"
Hello PyvesB,
i think, in plugin is bug.
I'll give an example by entering /aa add 1 Custom.votes EncryptSL

When the player reaches the finish Votes in custom category not finished.

This part is for Votes in AACH.
`  votes:
    '10':
      Goal: Vote 10x for server
      Message: custom_hlas_1
      DisplayName: Lets Go Fans I
      Reward:
       Experience: 100
       Command:
         Execute:

[2018-01-30 19:44] PyvesB commented on #295
@diogoxarons: here's a test version containing @Phoetrix's implementation! You can refer to [his Wiki page](https://github.com/PyvesB/AdvancedAchievements/wiki/Placeholders) for more information about the different Placeholders. If everything goes well, I'll try to release this Thursday evening or otherwise next week.

[AdvancedAchievements.zip](https://github.com/PyvesB/AdvancedAchievements/files

[2018-01-30 19:46] EncryptSL commented on #313
I found another bug.
In Category DistanceGliding: Same bug,
Traveling with the elytra is counted together, and thus it does not finish the task.

Screenshot:
https://ctrlv.cz/Zauc
https://ctrlv.cz/USxc

Config:
https://pastebin.com/6tkjD3bF - Part Only DistanceGliding.

[2018-01-31 21:36] ToXiCHaZe541 commented on #312
@PyvesB Yea after the server restarted the advancements went away on the advancement menu. Also when you complete achievements they dont come up as completing the advancement. I tried doing /aach generate and the same error comes up in console.

[2018-01-31 21:50] PyvesB commented on #313
Hello @EncryptSL ,

I am not able to reproduce. Have recently changed the achievement thresholds in your configuration? Are there any errors in the console?

Cheers,

Pyves

[2018-01-31 23:07] EncryptSL commented on #313
Hello dear, PyvesB.

when player vote plugin GaListeners call command /aa add 1 Custom.votes EncryptSL and
plugin give this error. ;). Plugin GaListener are working without problem with another commands.

Error:
https://pastebin.com/WS3jGwBF

Screen:
https://ctrlv.cz/ujLG

Category Votes is completed but no locked.

[2018-02-01 05:49] ToXiCHaZe541 commented on #312
Now they are randomly back... This seems to be a very inconsistent problem.

[2018-02-03 15:58] PyvesB commented on #313
It seems like you omitted the `Name` parameter for the achievement "Lets Go Fans", am I right?

[2018-02-04 17:18] iceyy opened #314 "I can't make rewards"
Hi, I'm new to this plugin and I love it! But there's one thing..
I did this:

Connections:
  1:
    Message: You connected to our server for the first time!
    Name: connect_1
    DisplayName: Good Choice
      Reward:
        Money: 5000

and the plugin broke and gave me this error:
[18:14:13 ERROR]: [AdvancedAchievements] A non recoverable error was encountered while loading the plugin, disabl

[2018-02-04 18:25] PyvesB commented on #314
Hello @iceyy!

Are than any stack traces or other messages in the logs? Could you please show me your full configuration file?

Cheers,

Pyves

[2018-02-04 21:07] iceyy commented on #314
My config is at https://pastebin.com/f5TBXvUp
and the error is https://pastebin.com/cmhE0y22

[2018-02-04 21:12] PyvesB commented on #314
On line 255 in your configuration, you have indented the `Reward` section too much. It should be at the same level as `DisplayName` for instance, as shown in the [Wiki](https://github.com/PyvesB/AdvancedAchievements/wiki/Rewards). 😉

[2018-02-04 21:31] iceyy commented on #314
oops! 😝 thanks! by the way, this plugin is great!

[2018-02-04 22:01] PyvesB commented on #314
Haha, you're welcome! Feel free to star the repository! ^^

[2018-02-04 22:02] #314 closed

[2018-02-05 15:43] iKingM opened #315 "Suggestion about rewards when all achievements are received"
This suggestion follows on from this post : https://github.com/PyvesB/AdvancedAchievements/issues/297

My idea would be to add a new type of achievement based on the other achievements.
For example, the achievement would be: achieve 50% of the total number of achievements.

[2018-02-05 18:40] PyvesB commented on #315
Hello @iKingM,

This is actually similar to #82 and has been on the projects backlog for quite some time. We need more contributors! 😃

Cheers,

Pyves

[2018-02-07 19:09] diogoxarons commented on #295
Thank you very much !

[2018-02-08 19:11] PyvesB commented on #295
I have released this as version 5.6.3. Good work everyone!

[2018-02-08 19:11] #295 closed

[2018-02-12 19:01] PyvesB commented on #301
It's been dead silence for about a month now, therefore closing this issue.

[2018-02-12 19:01] #301 closed

[2018-02-12 19:05] PyvesB commented on #313
@EncryptSL : have you managed to solve your issue? ^^

[2018-02-12 19:05] #315 closed

[2018-02-13 05:47] EncryptSL commented on #313
Thx for help :). solved.

[2018-02-13 07:38] #313 closed

[2018-02-14 11:37] hxykatycolf opened #316 "Screen Title won't go away"
Hello ! I have recetly installed Advanced Achievements. It's been running fine but we experienced some issue with the Screen Title yesterday. We are running Spigot 1.12.2 and using the latest version of the plugin. The screen title pops up on the screen after an achievement was finished but it stayed there [http://prntscr.com/ie9cfy] I have restarted the server, restart / reset the plugin and remo

[2018-02-14 22:17] PyvesB commented on #316
Hello @hxykatycolf!

That's odd. Did this only happen on one occasion? Advanced Achievements doesn't do much with titles, it just sends a network packet to the client so that a title is temporarily displayed to the player, but does maintain any "title" state and doesn't need to take care of title fading out.

If it only affects a single player, try out these commands:
[code]

Cheers,

Pyves

[2018-02-15 17:38] hxykatycolf commented on #316
Hey Pyves !
Since we are still building the server so there were only my bestfriend and I on it. He broke a block and triggered the Cobble achivement, which led to the screen title "Cobble !" appeared and stayed on the screen for a long time. So after I reset the plugin, we both joined again, the title in the attached picture in my last post shown on his screen and stayed there while I only get th

[2018-02-15 18:36] PyvesB commented on #316
Okay, just ping me if ever it happens again. I'll have a go at cleaning up the title related code so it's more maintainablebin the future. :wink:

[2018-02-15 18:36] #316 closed

[2018-02-17 03:44] aaroonung opened #317 "Idea - A test command"
I think a test command would be nice. While configuring it would be very useful to be able to test what would happen when you get a certain achievement. You wouldn't have to manually get the achievement to test it. Hope this gets added!

[2018-02-17 08:01] eot13 opened #318 "Idea Mythicmobs"
Hello
Could you add the mythicmobs support: (killed mobs) please?

[2018-02-17 10:45] PyvesB commented on #317
Hello @aaroonung!

Why not simply use the _/aach add_ command to meet achievement thresholds directly? You'll be easily able to test all achievements without going through the hassle of catching a thousand fish for instance. 😉

Cheers,

Pyves

[2018-02-17 10:48] PyvesB commented on #318
Hello @eot13 !

Closing this as duplicate of #301. Also please refer to the [contributing guidelines](https://github.com/PyvesB/AdvancedAchievements/blob/master/CONTRIBUTING.md), which would have pointed you both to that issue and to the Wiki. 😉

Cheers,

Pyves

[2018-02-17 10:48] #318 closed

[2018-02-17 16:53] aaroonung commented on #317
Ahh, that helps. Thank you! :D

[2018-02-17 16:53] #317 closed

[2018-02-17 16:57] aaroonung opened #319 "/aach reset returns wrong argument"
If incorrect the command should return "Breaks" if I'm not mistaken. But it returns the player name.
![image](https://user-images.githubusercontent.com/14830826/36343371-15eccd34-13d1-11e8-8617-e21b6b7d9d50.png)

[2018-02-17 18:13] PyvesB commented on #319
Hello @aaroonung !

Thanks for reporting this issue. I have just committed a fix. 😉

Cheers,

Pyves

[2018-02-17 18:13] #319 closed

[2018-02-17 23:07] aaroonung opened #320 "Max Health"
After adding a extra heart is there anyway to remove it?

[2018-02-18 09:34] PyvesB commented on #320
Hey @aaroonung !

Well you can't really do that from Advanced Achievements directly. You'll either have to modify/reset the player's file on the server or use a third party plugin. ^^

Cheers,

Pyves

[2018-02-24 05:38] kaliflowerx3 opened #321 "Cauldron 1.7.10 NoClassDefFoundError"
When I launch with AA v5.6.4 installed, I get this error:

https://pastebin.com/TXdxVph2

I understand that KCauldron isn't really supported, but all of the AA versions on Bukkit are listed as compatible for CB-1.7.9, which is the version of plugins I usually go to. Which version of AA might work with my version (keeping in mind the error I got above)?

[2018-02-24 09:25] PyvesB commented on #321
Hello @kaliflowerx3 !

After a bit of reading through various GitHub issues and Caudron-related threads, it seems like a problem with the Cauldron custom class loader, which doesn't fully support plugins compiled with Java 8. Try following [these steps](https://github.com/games647/FastLogin/issues/111#issuecomment-272331347), they will hopefully solve your issue.

Some users have also worked aroun

[2018-02-24 14:42] andris155 opened #322 "InventoryClickEvent error"
[code]

[2018-02-24 17:02] PyvesB commented on #322
Hello @andris155 !

Have you got the remaining part of the stack trace, after the `Caused by`?

Cheers,

Pyves

[2018-02-24 21:35] AconTM opened #323 "2 Bugs"
1. When my Inventory is Full --> Item didnt give to me
2. When i die (Death Achivement) --> i didnt get Items..

[2018-02-24 21:50] PyvesB commented on #323
Hello @AconTM !

I will look into this. 😉

Cheers,

Pyves

[2018-02-24 22:26] kaliflowerx3 commented on #321
The first solution worked! Thanks so much, and sorry for not knowing what to google to fix this (seemingly common-ish) problem! <3

[2018-02-24 22:26] #321 closed

[2018-02-24 22:47] PyvesB commented on #321
Haha, no worries, feel free to open a new issue if you need more help in the future!

[2018-02-25 00:27] Tyloonie opened #324 "Option to costumize achievement titles and &o"
Hello!

Very nice plugin. Would be nice if I could make a custom format for the achievements themselves inside the GUI menu just like the gui items. (ListAchievementFormat: '')

I also noticed that the descriptions etc. are all force-printed with &o - could you add an option to just keep the text plain?

[2018-02-25 21:48] PyvesB commented on #323
I am not able to reproduce either of the issues you have described. In both cases the items should fall on the ground and the player can them pick them up. Are you using the latest version of the plugin and a recent Spigot/Bukkit build? Are there any errors in the server's console?

[2018-02-26 13:48] Tyloonie commented on #324
I see! Managed to configurate a nice style I like anyways, so it suits me anyways.

I do have another question however... Is it possible to for example under "Breaks" to add a section with "*" to mark any block possible? I want to create an achievement that includes mining 10,000 blocks of any kind.

[2018-02-26 18:30] PyvesB commented on #324
Unfortunately `*` is not either currently possible, see #92 for a related issue. ^^

[2018-02-28 18:50] #320 closed

[2018-03-01 17:51] MatinDark opened #325 "Question"
Hello I Write all achievement and all work fine and player get achievements but they didn't receive any reward !
https://hastebin.com/atijedodiy.rb

[2018-03-01 19:12] PyvesB commented on #325
Hello @MatinDark !

For which achievement in particular? Did they get any reward messages in their chat? Were there any errors in the server's console?

Cheers,

Pyves

[2018-03-01 20:03] MatinDark commented on #325
all of them and no there is no error and there is no reward message i use latest paper spigot

[2018-03-01 20:17] PyvesB commented on #325
Oh, actually I think the problem is simply due to the fact that you used `Commands` instead of `Command`. More information can be found [here](https://github.com/PyvesB/AdvancedAchievements/wiki/Rewards). 😉

[2018-03-01 20:39] MatinDark commented on #325
yes that was for that reason and sry for waste your time for this but there is another issue this time it say you receive your reward and try to give me reward but i think plugin write player name incorrect

[2018-03-01 20:45] MatinDark commented on #325
I Found Solution that was For Color Codes Behind Them And Thanks for your nice support and sry again for waste your time that was my own mistake !

[2018-03-01 20:45] #325 closed

[2018-03-01 21:06] PyvesB commented on #325
Awesome, glad it's solved!

[2018-03-02 13:03] iKingM opened #326 "Extend GUI customisation possibilities"
Hello,

I would like to offer you an idea of improving the plugin. My idea is to be able to make several menu that would be accessible with the commands / aach list 1, / aach list 2, ... and in which we could choose the achievements to add.
For each menu, there would be a big reward to get if the players realize all the achievements of this menu.

[2018-03-03 20:44] JakeEarley opened #327 "Zombie Pigmen"
Hello
I am trying to make an achievement for players who have killed a certain number of zombie pigmen. However, I am unsure how to detect how many zombie pigmen have been killed? I've tried zombie_pigman etc. but it will not work.

Thank you

[2018-03-03 20:48] supertassu commented on #327
PIG_ZOMBIE

thank me latet

[2018-03-08 05:03] Leomelonseeds opened #328 "[Feature Request] Multiple types of mobs"
This is a much requested feature by the community of my server.
Make it so that you can list more than one mob/block that counts towards an achievement.
Also add mob categories: Passive for passive mobs, Monsters for aggressive mobs.

Thanks in advance!

[2018-03-08 22:51] PyvesB commented on #326
Hello @iKingM!

I'm doing quite a bit of code reorganisation in the project at the moment, I'm lacking time to look into any _/aach list_ enhancements. Maybe someone else wants to help out and give this suggestion some thought? 😉

Cheers,

Pyves

[2018-03-08 22:56] PyvesB commented on #328
Hello @Leomelonseeds !

Please refer to issue #92, which is currently on standby. 😉

Cheers,

Pyves

[2018-03-08 22:56] #328 closed

[2018-03-08 22:57] #324 closed

[2018-03-08 22:58] PyvesB commented on #323
No news for some time, therefore closing. Feel free to reopen and provide additional information if the problem persists. 😉

[2018-03-08 22:58] #323 closed

[2018-03-08 22:59] PyvesB commented on #322
No news for some time, therefore closing. Feel free to reopen and provide additional information if the problem happens again. 😉

[2018-03-08 22:59] #322 closed

[2018-03-09 20:11] ToXiCHaZe541 opened #329 "Plugin is being disabled"
It seems on server start up the plugin disables it self. I tried re enabling it then doing the /aach command it it puts the error down below in my console and gives a internal server error in chat. In the error it says its disabling itself but I dont understand why. I am running the latest version of the plugin and latest version of spigot as of this issue being reported. I even tried previous ver

[2018-03-11 10:41] PyvesB opened #330 "Beta test future release 5.7"
Hello there!

I have done quite a bit of work on the plugin internals in order to reduce the technical debt, improve maintainability and try new things out. Most of the changes should be transparent to the end users, but I would appreciate some additional testing to assert that the plugin is still doing what it is supposed to do and is running smoothly. There are also a few functional improvements

[2018-03-11 10:42] PyvesB commented on #329
Hello @ToXiCHaZe541 !

The previous log lines should tell you what is wrong with your configuration. 😉

Cheers,

Pyves

[2018-03-11 10:59] supertassu commented on #330
I'll take a look later today.

[2018-03-11 13:34] aurel85 commented on #330
Hi,

I did some basic tests (especially with DisabledCategories and / aa reload) and I did not find any bug (just a small detail but it is already present in the version 5.6.5 so I'm going to open a new issue directly). But otherwise everything is ok at first glance, further tests will confirm or not.

[2018-03-11 13:40] aurel85 opened #331 "Little bug (fill a bucket in creative game mode)"
Hi,

I discovered a small bug, not very disturbing but it's still a bug. When I'm in creative play mode and try to fill a bucket with water it's impossible. The plugin must prevent to do this because in my config success is not realized in creative game mode. But, it's totally impossible to fill the bucket with water in creative play mode. Nothing serious since you can give yourself the water buck

[2018-03-11 13:54] PyvesB commented on #331
Hello @aurel85 !

Actually I believe this is standard Vanilla behaviour, introduced in an [old Beta version](https://minecraft.gamepedia.com/Beta_1.9_Prerelease_5) of the game. Advanced Achievements does not  actually try preventing any user actions, except when you're using the _/aach list_ interface. 😉

Cheers,

Pyves

[2018-03-11 14:00] aurel85 commented on #331
I did not do a solo test, it would have needed ^^. Thank you for the speed and sorry for the inconvenience ;)

[2018-03-11 14:00] #331 closed

[2018-03-11 16:47] supertassu commented on #330
I'd prefer if the new code would be in a PR so we could use GitHub's natural reviews, however thanks for tagging the releases so we can get the diff anyways.

Mostly looks good, however there are a few things that I noted:

- Is there a reason for [this change](https://github.com/PyvesB/AdvancedAchievements/compare/5.6.5...master#diff-ad2fe3b4e41a1bc00540dd61caee4fbbL238)? It's clearer when text a

[2018-03-11 22:00] PyvesB commented on #330
Thanks to both of you for your feedback!

@supertassu sorry about the absence of pull request, I had initially only anticipated asking for testing feedback. ^^

* I used slightly more pedantic formatter settings whilst cleaning up the project. I'll revert that and let the Maven formatter plugin do its job. 😉
* Same here.
* What exactly did you have in mind? The method is static, I'm not sure much

[2018-03-12 05:34] supertassu commented on #330
Sorry, didn't realize it was static. Mainly looks good now, however contributing now has 2 number 3s in it.

[2018-03-12 13:19] TheCodeCrafter commented on #330
Anything I can help with?

[2018-03-12 18:45] PyvesB commented on #330
@TheCodeCrafter nothing in particular you can help with, this is more like a "if you're interested in using dependency injection in your own plugin/projects, here's one way to do it". 😄

[2018-03-14 08:11] aztecwalker opened #332 "Command Setup"
Hello.. I would like to add custom command as a reward per achievement.. But mine desn't seems to work..
Could you help?
Here's one of my configurations :
    2500:
      Goal: "Place 2500 stone bricks."
      Message: "&4You have placed 2500 stone bricks!"
      Name: place_2500_smooth_brick
      DisplayName: Stone Brick Architect
      Rewards:
        Commands:
          Execute: points give P

[2018-03-14 10:52] supertassu commented on #332
Isn't it `Command`, not `Commands`?

[2018-03-17 06:43] ToXiCHaZe541 commented on #329
@PyvesB I don't understand what you mean. Are you saying its a config issue?

[2018-03-17 10:29] PyvesB commented on #329
Well look at all server messages starting with `[AdvancedAchievements]`, they will tell you what's wrong with your configuration. ^^

[2018-03-17 15:50] #330 closed

[2018-03-17 18:40] ToXiCHaZe541 commented on #329
@PyvesB Well I don't get any messages from it besides the error I put above when running the command. As of messages in game all I get is an internal server error.

[2018-03-17 19:10] PyvesB commented on #329
Please post your full server log.

[2018-03-17 19:50] PyvesB commented on #329
I'm really unsure why this is causing confusion, the plugin is clearly stating what is wrong and why it is being disabled:

[2018-03-17 21:57] ToXiCHaZe541 commented on #329
Sorry I didn't see that one line out of many. What was causing the confusion is nothing changed no achievements were added it just randomly started disabling itself. Thanks for the help though....

[2018-03-17 22:03] #329 closed

[2018-03-19 12:59] aurel85 opened #333 "Bug with 5.7.0 and mysql"
Hi,

During my tests on my test server I was in sqlite and yesterday I wanted to pass my principal server in 5.7.0 and the difference that it is mysql. And it does not work at all, there is no error in the logs but no way to have the achievements of the database while in the config nothing has moved. In the meantime I had to put back the previous version.

I use PaperSpigot 1.12.2.

Thank you in a

[2018-03-19 19:22] PyvesB commented on #333
Hello @aurel85,

Thanks for spotting this! Is the below version any better?

[AdvancedAchievements.zip](https://github.com/PyvesB/AdvancedAchievements/files/1826607/AdvancedAchievements.zip)

Cheers,

Pyves

[2018-03-20 03:09] aurel85 commented on #333
Everything is ok thank you !

[2018-03-20 03:09] #333 closed

[2018-03-21 19:04] PyvesB commented on #332
I believe @supertassu has given all useful information, therefore closing this issue.

[2018-03-21 19:04] #332 closed

[2018-03-25 23:31] TigerTBN opened #334 "Ununderstandable config issue"
Hello,

After changing the config as I desired and restarting the server, an ununderstandable config issue has appeared. If I can get the support I will be more than happy and really thankful!

Config:
https://pastebin.com/HgMNy0bp
or
https://pastebin.com/TvvhKQeb (Not YAML formatted)

YAML error that I received and didn't understand:
https://pastebin.com/cVZ8tc3k

Cheers,

Tyler

[2018-03-29 17:08] NevendyND opened #335 "MythicMob Support"
Sorry i don't understand the Pull requests...

i can't create one

I don't own MythicMob it's just a Question whether it would be possible to bring in support for MythicMob

[2018-03-29 17:29] PyvesB commented on #335
Hello @NevendyND !

A pull request is a code contribution to an open source repository, often made by a developer who is not the main maintainer of the project. See #301 and #318 for related issues. 😉

Cheers,

Pyves

[2018-03-29 17:40] NevendyND commented on #335
When a MythicMobs Dev ask you ? then its ok :o?

[2018-03-29 18:13] andris155 opened #336 "Could not pass event InventoryClickEvent to AdvancedAchievements v5.7.1"
[code]

[2018-03-29 20:55] andris155 commented on #336
I don't know how to reproduce. I find this error server log.

[2018-03-30 10:05] PyvesB commented on #336
Your configuration file is not valid. Put a `{}` next to the `Commands` section and add it to the `DisabledCategories` list, that should do the trick!

[2018-03-30 11:58] andris155 commented on #336
Thanks!

[2018-03-30 13:07] #336 closed

[2018-03-31 16:42] EncryptSL opened #337 "InventoryClickEvent Bug"
Hello PyvesB, i have small problem with Commands Category.
When Player Click on Category Other Achievements.
Plugin call error: https://pastebin.com/JpTLdF0V
Config is Validate with YAML.
Version of Plugin 5.7.1.

Thx for your answer.

[2018-04-01 09:27] PyvesB commented on #337
Hello @EncryptSL !

Could you please show me your current configuration file?

Cheers,

Pyves

[2018-04-01 13:32] EncryptSL commented on #337
Yeah, Configuration this: https://pastebin.com/fvvwBikK

[2018-04-01 14:20] PyvesB commented on #337
The category is called `Commands`, not `Command`. 😉

[2018-04-02 04:40] EncryptSL commented on #337
Thx for Answer I love you men. <3. Problem solved.

[2018-04-02 08:34] PyvesB commented on #337
You're welcome ! I might add some more validation when the plugin loads to cover these errors in the future. ^^

[2018-04-02 08:34] #337 closed

[2018-04-08 08:48] WarnDangerous opened #338 "Problem with block-break"
Hey ! I have a problem, I want to make achievement "block-break" but for any block, but impossible to do that, I must set an item that player have to break ! Pleaz help me
The configuration that I did :

Places:
  '2000':
    Goal: Placer 2000 blocs.
    Message: '&4Tu as placé 2000 blocs!'
    Name: Placer_2000_blocs
    DisplayName: Buildeur I
    Reward:
      Command:
        Execute: crate gi

[2018-04-11 09:22] mibby opened #339 "Unable to track bed placement in 'Places' category."
AdvancedAchievements v5.7.1

It seems you are unable to track bed placement in the places category.
[code]

Do beds go under a different material name perhaps?

[2018-04-11 11:47] mibby opened #340 "Option to exclude command based achievements from AllAchievementsReceivedRewards."
I have a list of command based achievements that are used to reward players for event participation and various placements. I also have a reward given to players who get all achievements unlocked with AllAchievementsReceivedRewards.

[code]

Would it be possible to have an option to exclude command based achievements from being needed in the AllAchievements reward? Since command based achievements

[2018-04-11 15:00] WarnDangerous commented on #338
Any solution ? Pleaz help me

[2018-04-11 17:07] PyvesB commented on #338
Hello,

Duplicates #92, #154, #167, #238, #270 and probably more. The default configuration file also highlights this.

Cheers,

Pyves

[2018-04-11 17:07] #338 closed

[2018-04-11 17:08] #334 closed

[2018-04-11 17:08] #335 closed

[2018-04-11 17:10] PyvesB commented on #339
Hello @mibby !

Please try `bed_block` instead and tell me whether it helps. 😉

Cheers,

Pyves

[2018-04-11 17:12] PyvesB commented on #340
Hello @mibby !

This seems like a reasonable request. I've been quite busy lately, but maybe someone else will pick it up in the meantime. 😉

Cheers,

Pyves

[2018-04-18 18:25] supertassu commented on #340
I'll take a look on this soon.

[2018-04-18 20:20] #339 closed, assigned to nobody

[2018-04-21 09:00] supertassu commented on #340
Oh wait: @PyvesB has done this just comparing total amount of achievements and amount of achievements the player has received.

https://github.com/PyvesB/AdvancedAchievements/blob/master/src/main/java/com/hm/achievement/listener/PlayerAdvancedAchievementListener.java#L182-L184

Pyves, what's the easiest way to get advancement's category by it's name?

Tassu

[2018-04-21 22:23] Jokki157 opened #343 "Support if MythicMobs"
Hey, is it possible to add support for mythicmobs? I have a rpg server under progress and it would be cool to add achevements for the different bosses that i have. Is this possible for you tp add? :D

[2018-04-22 05:04] supertassu commented on #343
Duplicate of #301

[2018-04-22 07:35] #343 closed

[2018-04-25 01:43] Gaurav99 opened #345 "API Doesn't allow modification of statistics"
We used to use the API (cache manager) to edit the statistics internally with the plugin (we're not sure what version this was on).  This is what we did:

`ach.getCacheManager().getAndIncrementStatisticAmount(NormalAchievements.SMELTING, uuid, amt);`

With the latest version, there is no longer a way to do this as far as I can see.  Am I missing something?  If not, could you add something like thi

[2018-04-25 15:35] Wrohi opened #346 "A good idea"
Sorry for bad english :) Make that so you need to get an achievment so you can /rankup 1 time then again and again, short: you can't /rankup if you didint achieve achievment

[2018-04-25 18:09] PyvesB commented on #345
Hello @Gaurav99 !

The cache manager was never part of the public API, you were using the plugin's internals in an unsafe manner.

I'm unsure why you would want to alter the statistics in a standalone and direct way like this, as no threshold checks to award the achievements will actually happen. You're just modifying database values in an opaque way. If you really want to do such a thing, you cou

[2018-04-25 18:11] PyvesB commented on #346
Hello @Wrohi !

Why not simply use a [custom command](https://github.com/PyvesB/AdvancedAchievements/wiki/Rewards#custom-commands) reward? 😉

Cheers,

Pyves

[2018-04-25 22:31] Gaurav99 commented on #345
How would you recommend doing what I want to achieve, then?

[2018-04-27 21:00] PyvesB commented on #345
Well:

Another alternative would be to simply fork the repository and tune the plugin's code to best suit your needs.

[2018-04-27 21:03] PyvesB commented on #94
@mibby this has since then been implemented as part of #344!

[2018-05-01 19:53] evanmcclan opened #348 "Achievement tracking problems"
Plugin version: 5.7.2
Minecraft verison: CraftBukkit version git-Spigot-5695bca-53fccdf (MC: 1.12.2) (Implementing API version 1.12.2-R0.1-SNAPSHOT)

**Problem**:
For all of my achievements (especially in the custom categories). the plugin doesn't track if the player already has the achievement before giving it to them. Because of this it allows the player to keep receiving the same achievement ov

[2018-05-01 21:54] PyvesB commented on #348
Hello @evanmcclan ,

I suggest reading the plugin's configuration file as well as the Wiki. 😉

Cheers,

Pyves

[2018-05-03 17:46] #346 closed

[2018-05-05 07:40] S3nS3IW00 opened #350 "Idea"
Hello PyvesB!

Make custom categoryes to GUI, or another GUI :D

Hope you like it!

[2018-05-05 10:28] S3nS3IW00 opened #351 "Question"
Hello PyvesB!

Can I display more reward line in custom achievement?

Thanks!

[2018-05-05 15:25] PyvesB commented on #351
Hello @S3nS3IW00 !

I'm not sure what you mean. Are you talking about the rewards list in the GUI, in the chat, or somewhere else?

Cheers,

Pyves

[2018-05-05 15:26] PyvesB commented on #350
Hello @S3nS3IW00 !

This is in essence quite similar to #326. Would you like to give it a try and submit a pull request? 😄

Cheers,

Pyves

[2018-05-05 15:26] #345 closed

[2018-05-05 15:31] S3nS3IW00 commented on #351
Example:

Command:
  Execute: <command>
  Display: <desc1>
  Display: <desc2>

[2018-05-05 15:35] S3nS3IW00 commented on #350
I don't know what is the pull request :D

[2018-05-05 20:54] Leomelonseeds opened #352 "Command Bug"
Hello DarkPyves,

I have a problem where my aach reward commands do not activate when an achievement is recieved. Here is my config: https://pastebin.com/YgeYBZSx

Any help is appreciated.

Thanks in advance!

[2018-05-05 22:08] PyvesB commented on #350
A pull request is a code contribution to an open source repository, often made by a developer who is not the main maintainer of the project.

[2018-05-05 22:13] PyvesB commented on #351
I see. It's not possible to duplicate the parameters like that, but have you tried using `\n` characters to break lines in a single `Display` message?

[2018-05-05 22:43] Leomelonseeds commented on #352
Omg thanks :P

I'm so dumb xD

[2018-05-06 03:42] #352 closed

[2018-05-06 09:38] S3nS3IW00 commented on #351
![2018-05-06_11 37 25](https://user-images.githubusercontent.com/22691959/39671956-f2f2117a-5121-11e8-9883-c21394557db4.png)

With \n.

[2018-05-06 09:52] S3nS3IW00 commented on #350
Oh ok, I don't want to make pull request, only give an idea to you :D

[2018-05-06 12:11] PyvesB commented on #351
Fair enough, I now seem to recall that Minecraft doesn't support `\n` in object lores, but does in standard chat messages.

I'm guessing we could easily support this special case by modifying the `getRewardListing` method in the _RewardParser.java_, as this is what is used to build lores. @supertassu do you want to give it a try and extend your custom reward message implementation? 😄

[2018-05-06 12:12] supertassu commented on #351
I'll give it a go.

[2018-05-06 12:17] PyvesB commented on #350
Fair enough, nevertheless as this is an open-source project, there's no guarantee that your idea will ever be implemented. I'll close this issue and we can track progress in #326 directly, as it really comes down to the same idea. ^^

[2018-05-06 12:17] #350 closed

[2018-05-09 20:47] evanmcclan commented on #348
@PyvesB I read the configuration and the Lang.YML file. It appears that there is no errors in the yml and there is no UTF-encoding issues. Ive tried every method i could think of to figure out why items in **aach list** are still removabled from the GUI. Any suggestions?

[2018-05-09 21:39] PyvesB commented on #348
Could you please share your _lang.yml_ file so I can take a look?

[2018-05-10 02:51] evanmcclan commented on #348
@PyvesB https://pastebin.com/bW4X4fkT (Sorry for the late response)

[2018-05-10 17:26] PyvesB commented on #348
I am not able to reproduce this issue with your configuration, I am suspecting some sort of conflict with another plugin. Do things work fine when Advanced Achievements is the only plugin running on the server?

[2018-05-10 19:12] evanmcclan commented on #348
@PyvesB When AdvancedAchievements is running as the only plugin on the server it does work.
What types of plugins would most likely conflict?
Economy | GUI | CustomCommand Makers | Protocol Plugins ....?

[2018-05-10 19:33] PyvesB commented on #348
Most likely the GUI or Protocol plugins, but as I don't know most of these plugins, it's hard to tell. I suggest trying to re-enable your plugins by batches of 5-10, and see when Advanced Achievements stops working properly. You can then search the specific plugin within that batch. Once we've spotted the culprit, we can carry on from there. ^^

[2018-05-10 22:32] evanmcclan commented on #348
Ok I think ive found the problem. When I Re-add EssentialsX The Achievements list gui breaks

[2018-05-16 14:36] blijgozertje opened #354 "Reset the mission when completed - Suggestion"
Hey,

I would like to see a new feature on the plugin which is an option to reset the mission when it has been completed.

For example, if I set a reward for mining 100 blocks and someone mines 100 blocks he will complete the mission but it will also reset so that when he mines another 100 blocks the player will get the same reward as well.

This of course with all the possible missions.

[2018-05-16 17:10] PyvesB commented on #354
Hello @blijgozertje !

I believe you can already do this. Simply set an `/aach reset` command as a command reward for the achievements you want to reset. 😉

Cheers,

Pyves

[2018-05-19 17:02] evanmcclan commented on #348
@PyvesB **Hi sorry it took me so long to respond, my email notifications stopped working. Attatched below is my config.
https://pastebin.com/8a4uxfdg

[2018-05-20 09:57] PyvesB commented on #348
Unfortunately I'm still not able to reproduce the issue. Let's try a different strategy here. I have attached a test version that contains some additional log lines. Could you please try to get an item out of the GUI and show me the messages from Advanced Achievements that appear in the console's output?

[AdvancedAchievements.zip](https://github.com/PyvesB/AdvancedAchievements/files/2020214/Advan

[2018-05-21 21:57] ToXiCHaZe541 opened #356 "API suggestion"
Hey so I know this plugin has issues with properly using the advancement system and linking the plugins challenges to them. I found this API this guy made and maybe yall could team up to make this feature work better?

https://www.spigotmc.org/resources/crazy-advancements-api.51741/

[2018-05-22 17:39] PyvesB commented on #356
Hello @ToXiCHaZe541 !

Thanks for the suggestion, but after a quick look into it I don't think this is a good idea:
* it isn't available as a Maven dependency.
* it requires users to install an additional plugin on their server.
* it isn't open source, so harder to make contributions or pick up development if the author no longer maintains it.
* it seems to call Minecraft and CraftBukkit internals

[2018-05-23 05:45] Feeriix opened #357 "CMI AFK integration"
As CMI being an Essentials alternative and much more, could you support this plugin for AFK checks as well?

API:
https://github.com/Zrips/CMI-API

[2018-05-23 18:45] PyvesB commented on #357
Hello @Feeriix !

Maybe @Zrips would like to look into this and make a contribution? 😉

Cheers,

Pyves

[2018-05-23 21:22] evanmcclan commented on #348
@PyvesB The Jar you gave me works, the items cant be clicked out of the GUI and the console outputs this; `23.05 16:20:34 [Server] INFO Evan_McClan issued server command: /aach list
23.05 16:20:36 [Server] INFO Inventory name is "My Achievements"
23.05 16:20:36 [Server] INFO Event cancelled : true`
Is there a way to remove the `1` it puts after the GUI name or is that a page number?

[2018-05-23 22:00] PyvesB commented on #348
Wait a minute, I haven't actually made any actual changes apart from the logging, the _jar_ should be functionally equivalent to version 5.7.4 of the plugin. Does it break again when you switch back to the latest official version of the plugin?

[2018-05-23 23:13] evanmcclan commented on #348
the latest version now no longer lets me remove the items from the GUI, however, the gui title still adds the number 1 when i open a category

[2018-05-24 06:41] PyvesB commented on #348
You must have changed something on your side to fix the issue. I noticed that you had modified the title of the GUI, the single quote your were using previously is in fact a special character in YAML, this might have messed around with your configuration.

The number is the page number.

[2018-05-24 21:27] PyvesB commented on #354
What do you mean by "doesn't seem to work"? Are there any errors in the console? Are the statistics not being reset correctly?

[2018-05-25 10:16] OMarseille13 commented on #326
Up ;)

[2018-05-25 14:32] blijgozertje commented on #354
The statistics don't reset at all they just stay the same. No errors in console.

[2018-05-25 17:44] PyvesB commented on #354
Are you sure about this, have you actually checked in the database?

Are you using the latest version of the plugin? Please share your _config.yml_ file.

[2018-05-25 17:55] PyvesB commented on #348
Oops accidentally deleted my comment, rewriting it.

1 -> page number.

I'm assuming you changed something else on your side. I noticed you changed `list-gui-title`, which actually previously contained an apostrophe. Thismay have cause problems as it's a special character in YAML.

[2018-05-25 17:59] PyvesB commented on #354
Oh, I just realised, you also have to delete the achievement using _/aach delete_ as resetting the statistic on its own won't change whether the achievement was received or not. 😉

[2018-05-26 08:18] blijgozertje commented on #354
Thanks!

[2018-05-26 08:44] PyvesB opened #358 "Update PlaceholderAPI"
The current version of the PlaceholderAPI dependency used in Advanced Achievements is 2.8.2, but the latest available is 2.8.7. I tried bumping the version number up, but noticed that some methods had since then been deprecated.

@Phoetrix , as you're our PlaceholderAPI expert, would you like to look into this and see whether you can upgrade to the latest version? 😃

[2018-05-26 08:45] PyvesB commented on #354
You're welcome! Feel free to open a new issue if you encounter any other problems or star the project to keep a closer eye on future development! ^^

[2018-05-26 08:45] #354 closed

[2018-05-26 08:53] Phoetrix commented on #358
Oh yes! :)
I will return to Minecraft around mid-June so I will check that at this moment.
Don't hesitate to remind me if I forget. ;)

[2018-05-31 18:49] PyvesB commented on #348
Closing this issue. Please upgrade to version 5.8.0 of the plugin once it's released, there are some improvements regarding things we discussed here. 😉

[2018-05-31 18:49] #348 closed

[2018-05-31 18:50] #356 closed

[2018-06-01 03:47] eot13 opened #359 "Timer with GUI"
Hello, could you add a timer a half-second timer when opening the GUI?
(Can be changed in the config)
Thank you

[2018-06-01 03:50] eot13 opened #360 "Extend Kills category capabilities"
Hello, could you add this category please:

- Mob with custom name killed (get the custom name)

[2018-06-02 10:48] Rsl1122 opened #361 "Missing dependency information for advanced-achievements"
Hey!
Thanks for splitting the API to a separate package, and even including a repository for it. :)

----

There is an issue with the repo missing a pom for the main artifact, that causes maven to fail building.

In advanced-achievements-api pom.xml there is a decleration:
[code]

Since maven likes building full dependency graph before downloading anything, the build fails with an error:

  Could

[2018-06-02 11:33] PyvesB commented on #361
Hey, thanks for reporting this issue. It caught me off guard as I had all required artifacts installed in my local Maven repository whilst testing.

I have attempted a fix in #362. Could you please try to build again and see whether it fixes the encountered error?

[2018-06-02 12:10] Rsl1122 commented on #361
Required deletion of the local cached information about the dependency at `.m2/repository/com/hm/achievement`

Confirmed fixed.

[2018-06-02 12:10] #361 closed

[2018-06-02 18:32] Fancepants opened #363 "Display Names aren't displaying correctly"
I am currently working on my own config file for Advanced Achievements. I have 0 errors from what I am seeing in console but I have run into an extremely annoying one I cant seem to fix.

When I reload the plugin after putting in my config I get this displayed in the gui

![image](https://user-images.githubusercontent.com/20112780/40879639-1e430ca8-6671-11e8-9190-70fa43889d63.png)

https://pastebi

[2018-06-02 19:08] PyvesB commented on #360
Hello @eot13 !

Thanks for your suggestion, this seems reasonable. Hopefully we'll be able to just make some small changes to the _Kills_ category to add such support.

Anyone feel free to pick this up, otherwise I'll try to tackle it in the coming weeks. 😉

Cheers,

Pyves

[2018-06-02 19:09] PyvesB commented on #359
Hello @eot13 !

To be honest, I find this request slightly strange. Why would you want to delay the opening of the GUI?

Cheers,

Pyves

[2018-06-02 19:15] PyvesB commented on #363
Hello @Fancepants !

Try changing the following line in the configuration:
[code]
By this one:
[code]
The comment just above this parameter seems to have changed in your configuration as well, I'm assuming afind/replace may have messed the casing of the variable? 😉

Cheers,

Pyves

[2018-06-03 00:30] Fancepants commented on #363
Oh my goodness! I was looking at this for hours! Thank you so much. My poor brain can rest!

[2018-06-03 06:35] eot13 commented on #360
Thank you very much!

[2018-06-03 06:41] eot13 commented on #359
Because if I use it with the plugin ChestCommands which allows to make GUIs and that I add the command "/ aa list", the interface opens then closes directly, I imagine that the ChestCommands plugin calls the event 2 times.

I'm sorry for my bad English.
Have a nice day.

[2018-06-03 07:42] PyvesB commented on #363
You're welcome, feel free to open another issue if you encounter any new problems! :+1:

[2018-06-03 07:42] #363 closed

[2018-06-03 07:56] PyvesB commented on #359
I see. On the plugin's [homepage](https://dev.bukkit.org/projects/chest-commands), they seem to recommend using the Scheduled Commands plugin, have you tried that solution?

[2018-06-04 20:42] ArtNRG opened #365 "New PlaceholderAPI category"
Add PlaceholderAPI as the condition.

`PlaceholderAPI_example:
  %simpleclans_in_clan%:
    true:
      Message: Join any clan
      Name: join_clan
      DisplayName: Clan member
      Reward:
        Money: 5`

`PlaceholderAPI_example2:
  %mypet_level%:
    30:
      Message: Your pet reached 30 level
      Name: pet_master
      DisplayName: Pet master
      Reward:
        Money: 5`

`Placehol

[2018-06-08 12:46] JacekAA commented on #360
Hello Pyves!

This might not be the best place to post this, but as per your FAQ github is the best way to contact you, and my question is quite pertinent to this thread. If the Kill-type achievements are able to read an entities name, doesn't that mean that any sort of custom mob can be added to the Kill-type achievements? I'm fairly new to the whole plugin scene, so forgive me if I've missed a p

[2018-06-08 19:47] TheSenseiNL commented on #358
*remind*

[2018-06-11 14:12] MXKhronos opened #366 "Custom Commands Reward with more variables."
Hello, first of all, great plugin. Keep up the good work.

I want to suggest more variables for the Custom Commands Rewards part. Currently we have PLAYER which refers to the player name. I wanted to use AdvanceAchievement to spawn a MythicMob boss when they acquire an achievement however I couldn't seem to find WORLD, X, Y, and Z variables of the player to use in the command.

It would be great t

[2018-06-12 10:05] digital-r opened #367 "Text obfuscation issue"
Unfortunately, symbols from cyrillic codepage are not obfuscated and still readable even if obfuscation option sets in config. You can add this example string "_Тестовая строка_" to achievement description for testing. Only spaces are being obfuscated. It seems, there is a bug with minecraft "Magic" text modifier realisation.

[2018-06-13 12:26] kforbro opened #368 "Bug with Connections category"
I disabled the category connections, but when player first join to the server he get achievements "Good Choice.

[2018-06-13 14:53] PyvesB commented on #367
Hello @digital-r !

I believe this is a Minecraft/Spigot limitation (see for instance [MC-41410](https://bugs.mojang.com/browse/MC-41410), and unfortunately there's nothing much I can do about it. I suggest switching off obfuscation when cyrillic characters are used. 😉

Cheers,

Pyves

[2018-06-13 14:55] PyvesB commented on #366
Hello @MXKhronos !

This sounds like a good suggestion, let's try to add it to the plugin at some point! 😉

Cheers,

Pyves

[2018-06-13 14:58] PyvesB commented on #360
@JacekAA yes, something like that would probably work. I just had no idea that these plugins were based on custom entity names, as people would just ask "add support for MythicMobs" without ever giving any details. 😉

[2018-06-13 15:02] PyvesB commented on #368
Hello @kforbro,

Good spot, this seems to be a bug with the plugin. I will fix it shortly. 😉

Cheers,

Pyves

[2018-06-13 15:04] kforbro commented on #368
Thanks

ср, 13 июня 2018 г. в 18:03, Pyves <notifications@github.com>:

[2018-06-13 15:51] JacekAA commented on #360
Thank you for the reply! I'll be doing some testing towards the end of the week as to whether or not that's an option. The MythicMob has a 'Display' property in the config that floats a name above the mob (as in, Drowned Ghoul) but I'm not sure that this is the entity's actual name given that there is an actual 'Type' property that requires ENDER_DRAGON or WITHER_SKELETON or a similar vanilla MC e

[2018-06-13 16:36] PyvesB commented on #358
@TheSenseiNL I don't think there's any rush here, as it's only about keeping things up-to-date and easy to maintain rather than adding brand new functionality. ^^

[2018-06-13 18:31] digital-r commented on #367
Is possible to slightly change obfuscation mechanic?
As example, if string must be obfuscated - replacing it by predefined constant string (something like '§kObfuscatedText')

[2018-06-13 21:21] PyvesB commented on #359
@eot13 any luck with my above suggestion? ^^

[2018-06-14 09:47] #368 closed

[2018-06-16 11:22] Siiriiks opened #370 "Support for DiscordSRV"
I use another plugin called DiscordSRV on my server to link the minecraft chat and discord chats together. Player achievements come through on Discord once they earn them for the default Minecraft achievements but not for AdvancedAchievments... Would it be possible to add support to DiscordSRV in this plugin so people in Discord can see when you get AdvancedAchievments?

[2018-06-17 08:45] PyvesB commented on #370
Hello @GadgetGamer !

Would you like to submit a pull request adding this support?

Cheers,

Pyves

[2018-06-18 03:30] FTOtter opened #371 "Question about customizing certain things."
Hi, I looked through the wiki but did not see the following addressed. Feel free to direct me to where this info is if I missed it!

I am wondering if/how I can customize some of the achievements further. For example, how could I make an achievement for throwing coal into water, or breaking a block with a certain item in hand? Is this possible at all, or am I limited to just essentially counting t

[2018-06-19 00:21] mibby opened #372 "Leftover debug '8' on logout."
AdvancedAchievements v5.8.1
ChatControlPro v7.8.27
Paper dev 1462 (Spigot 1.12.2)

Whenever someone disconnects, an '8' occurs in the log / console. Removing AdvancedAchievements, no more 8.

[code]

[code]

[2018-06-19 08:38] PyvesB commented on #372
Hello @mibby !

Haha, this is quite shameful, sorry about that. I'll commit a fix in a jiffy! 😉

Cheers,

Pyves

[2018-06-19 08:39] #372 closed

[2018-06-19 13:22] KriticalPvP1 opened #373 "Mysql error"
Hi, I'm trying to connect the plugin AdvancedAchievements to the mysql but it does not let me get this error.

https://pastebin.com/GURRX6AN

You know some way to fix it, thanks.

[2018-06-19 16:40] PyvesB commented on #371
Hello @FTOtter !

Unfortunately there is currently no support for throwing items into water or breaking blocks with a certain item in hand. There is also no support for awarding achievements based on the number of achievements completed. 😉

Cheers,

Pyves

[2018-06-19 16:42] PyvesB commented on #373
Hello @KriticalPvP1 !

The error message indicates:

Have you specified the right password in _config.yml_?

Cheers,

Pyves

[2018-06-19 20:09] lusket opened #374 "Specificitem tag for fishing, smelting and others"
So my suggestion is to add an option to do like in kills with specificplayer in categories like smelting, fishing and properly other categories too

[2018-06-19 20:15] FTOtter commented on #371
Darn, that's disappointing. Thanks for the response though!

[2018-06-19 22:29] KriticalPvP1 commented on #373
Yes, everything is correct.
With the other plugins I have the same configuration.

[2018-06-20 08:56] PyvesB commented on #374
Hello @lusket ,

These suggestions are already tracked in #56, therefore I'll close this new issue. 😉

Cheers,

Pyves

[2018-06-20 08:56] #374 closed

[2018-06-20 09:03] PyvesB commented on #371
You're welcome! This plugin already has a quite impressive set of features, but obviously there's always room for improvement and new ideas. There's only so much I can do on my own with the occasional external contribution, but feel free to send interested developers to this repository. ^^

[2018-06-20 09:03] #371 closed

[2018-06-20 09:05] PyvesB commented on #373
Could you please send me your _config.yml_ privately (for instance using the mail on my GitHub profile page), I'll take a look at it.

[2018-06-20 12:01] PyvesB commented on #373
Okay, I think I have spotted the problem by using the information you provided by mail. Would you like to give this test version a try and see whether it solves the issue you were previously encountering?

[AdvancedAchievements.zip](https://github.com/PyvesB/AdvancedAchievements/files/2119150/AdvancedAchievements.zip)

[2018-06-20 12:17] KriticalPvP1 commented on #373
Thanks, it's already working.

[2018-06-20 12:17] #373 closed

[2018-06-20 12:28] PyvesB commented on #373
Awesome! This was actually a very old bug lying around in the plugin since version 1.6.2. No one ever noticed because it would only occur when some specific special characters were used in the database username or password. Thanks for reporting the issue!

[2018-06-25 09:48] JacekAA commented on #360
Sorry it took me so long to get back to you! It doesn't look like using the display name works. Adding functionality through the display name would be super awesome. Is there any more info I can give you to help with it?

[2018-06-25 13:20] Darkilen opened #376 "aa info permission"
Hello,
Can you please add a permission for the commande `/aa info`, she give some "critical" information and all players can run it...

Or at least, hide somes informations for no-op player ? Like `version`, `integration state` or `DB type`

Thanks you

[2018-06-25 13:36] Patbox opened #377 "Console error"
[15:34:29] [Server thread/ERROR]: Could not pass event PlayerBucketFillEvent to AdvancedAchievements v5.8.2
org.bukkit.event.EventException: null
	at org.bukkit.plugin.EventExecutor$2.execute(EventExecutor.java:72) ~[mc.jar:git-Paper-1437]
	at co.aikar.timings.TimedEventExecutor.execute(TimedEventExecutor.java:78) ~[mc.jar:git-Paper-1437]
	at org.bukkit.plugin.RegisteredListener.callEvent(Register

[2018-06-25 17:52] supertassu commented on #377
You've cut out the important part of the error. Please provide the full error.

[2018-06-26 08:29] PyvesB commented on #377
@supertassu is right, we need the log lines after `Caused by: java.lang.ArrayIndexOutOfBoundsException`. 😉

[2018-06-26 08:46] PyvesB commented on #360
@JacekAA Could you please give this custom version a try and tell me what messages are logged in the console when you kill a "Mythic" mob?

[AdvancedAchievements.zip](https://github.com/PyvesB/AdvancedAchievements/files/2136313/AdvancedAchievements.zip)

[2018-06-26 08:48] #359 closed

[2018-06-26 09:19] PyvesB commented on #357
No news for over a month, closing this issue.

[2018-06-26 09:19] #357 closed

[2018-06-26 09:51] PyvesB commented on #376
Hello @Darkilen !

I have hidden the third party plugin integrations and the database type for players who do not have the `achievement.*` permission. 😉

Cheers,

Pyves

[2018-06-26 09:51] #376 closed

[2018-06-26 16:59] Patbox commented on #377
But after `Caused by: java.lang.ArrayIndexOutOfBoundsException` error ends.

[00:19:00] [Server thread/INFO]: Usuni?to 0 podmiot?w.
[00:22:41] [Server thread/INFO]: protocolsupport.protocol.utils.authlib.GameProfile(uuid: null, name: FloRus, properties: {}) (/89.78.112.113:55605) lost connection: Disconnected
[00:27:04] [Server thread/ERROR]: Could not pass event PlayerBedEnterEvent to AdvancedAch

[2018-06-26 19:38] Matthysse opened #378 "Citizens Support"
It's a feature request, it would be nice if there is an event for completing an amount of quests (with BetonQuest or Quests that are using Citizens)

[2018-06-26 21:28] eot13 commented on #359
I think I will do the plugin myself because it is no longer updated. Thank you for your reply!

[2018-06-27 15:06] JacekAA commented on #360
Here's the info I got from testing. I first tried adding two "entity kill" achievements, one of which used the MMob's display name (&2SkeletalKnight) and the other which used the MM name (SkeletalKnight). Here's the stacktrace for the error I got when doing that
`[15:58:09 ERROR]: Error occurred while enabling AdvancedAchievements v5.8.2 (Is it up to date?)
java.lang.NullPointerException: null

[2018-07-01 20:03] PyvesB commented on #377
I'm unsure where such an exception could be coming from. Does it happen on a regular basis, have you got a way to reproduce it easily?

[2018-07-01 20:04] PyvesB commented on #378
Hello @Matthysse ,

Would you like to submit a pull request adding this support?

Cheers,

Pyves

[2018-07-01 20:12] PyvesB commented on #360
@JacekAA thank you for all the information!

When specifying colours you need to add single quotes around the string, otherwise it will likely mess up with the YAML. This may have been the cause of the exception.

I have indeed not started the implementation, I only added a few log lines in that plugin version I shared. I'll keep you posted when I make some more progress.

[2018-07-02 17:16] andris155 commented on #377
[code]

[2018-07-02 18:21] PyvesB commented on #377
@andris155 I don't think this is related. Please open a separate issue and indicate how to reproduce the problem you're facing with any relevant configuration files. 😉

[2018-07-05 07:35] Patbox commented on #377
I All I need to do is fill the bucket with water or use a bed

[2018-07-05 17:05] ModernStyles opened #380 "Change GUI color from dark gray"
Hi would it be possible to change the GUI color from dark gray in the config? I tried to find it, I may just be blind. Any help would be appreciated greatly. :)

[2018-07-06 21:55] PyvesB commented on #377
This is going to be a tough one to investigate! I've prepared a test version, could you please temporarily put it on your server, try filling a bucket and paste any log lines containing "Patbox"?

[AdvancedAchievements.zip](https://github.com/PyvesB/AdvancedAchievements/files/2172070/AdvancedAchievements.zip)

[2018-07-06 21:56] PyvesB commented on #380
Hello @ModernStyles ,

Where exactly do you want to change the gray colour in the GUI?

Cheers,

Pyves

[2018-07-07 14:08] Patbox commented on #377
`[16:05:02] [Server thread/INFO]: [AdvancedAchievements] Patbox - Event start
[16:05:02] [Server thread/INFO]: [AdvancedAchievements] Patbox - Finished pre-processing
[16:05:02] [Server thread/INFO]: [AdvancedAchievements] Patbox - Increase taken into account
[16:05:02] [Server thread/INFO]: [AdvancedAchievements] Patbox - Cooldown 1
[16:05:02] [Server thread/ERROR]: Could not pass event PlayerBuc

[2018-07-07 23:33] hsombini opened #381 "Nullpointer on BlockBreak event"
Server version: 1.8.8 Paperspigot using mySQL

https://hastebin.com/ujaqinepik.vbs

[2018-07-08 06:19] Feerko opened #382 "Advancement gui"
Hello!

Can you add way to change title of this?
<img width="396" alt="zrzut ekranu 2018-07-08 o 08 18 00" src="https://user-images.githubusercontent.com/16988054/42417317-7b693c72-8287-11e8-9b8f-95426d1ca693.png">

and way to change background?
<img width="471" alt="zrzut ekranu 2018-07-08 o 08 18 34" src="https://user-images.githubusercontent.com/16988054/42417324-86ef9e06-8287-11e8-98e7-9b433c7

[2018-07-08 08:03] supertassu commented on #381
Seems like the plugin can't interact with the database.

[2018-07-08 17:41] #358 closed

[2018-07-08 17:45] PyvesB commented on #358
@TheSenseiNL would you like to test the updated implementation? I can compile the plugin with the latest changes if you want.

@Phoetrix you may be interested with issue #365, as @supertassu has completed work on this issue! :wink:

[2018-07-08 17:52] PyvesB commented on #382
Hello @Feerko,

Yes, okay, I guess this could be added as configuration parameters. :wink:

Cheers,

Pyves

[2018-07-08 17:53] supertassu commented on #365
This can be quite hard/resource expensive as PAPI does not have an event when a placeholder changes.

[2018-07-08 17:54] supertassu commented on #382
I'll take a look tomorrow.

[2018-07-08 18:05] supertassu opened #384 "Use Travis CI for prs"
It's free for open source repos, so why not?

https://travis-ci.org
https://docs.travis-ci.com/user/languages/java/

[2018-07-08 18:29] supertassu commented on #365
Could be possible however hard as some things do not fire an event (bungee total for example).

[2018-07-08 18:33] supertassu commented on #384
I've used it for some projects and it has worked great. It's fairly simple to use (add `.travis.yml`, most likely nothing else that language and script (if we want to use formatter) should be needed) and enable the repo.

[2018-07-08 20:58] PyvesB commented on #377
Okay, that's useful information! I think there is a problem with your _config.yml_ file could you please share it with me?

[2018-07-09 00:17] ModernStyles commented on #380
@PyvesB Sorry for the late response, but just the titles like "Blocks Placed" "Blocks Broken" "Entities Killed" The category list when doing /aach list basically.

[2018-07-09 11:50] Patbox commented on #377
#==============================O==============================#
# I---------------------------------------------------------I #
# |    Advanced Achievements 5.8.2 configuration - Readme   | #
# 1---------------------------------------------------------1 #
#==============================o==============================#
# You can use Minecraft chat colors in Message|DisplayName|Goal, but include dou

[2018-07-09 20:04] Phoetrix commented on #358
Oh sorry I forgot ! :o
I was very busy on June. ^^'

But ok nice! Good job @supertassu ! :)

[2018-07-09 20:12] TheSenseiNL commented on #358
Hi, sorry I couldn't respond faster but I've been very busy. I will install it in a bit and give it a day or 2 to test it :-)
I'll let you know asap

[2018-07-09 20:14] Phoetrix commented on #365
Yes it would be nice!
A few months ago, I was thinking about a way to do a system like this with a listener that would be called when a placeholder change.
But as supertassu say, it would be hard to do.

Has anyone made the suggestion to the creator of papi ?

[2018-07-09 20:17] supertassu commented on #358
Thanks @TheSenseiNL!

[2018-07-09 20:32] PyvesB commented on #377
You have several empty categories without any achievements, but you haven't added them to the `DisabledCategories` which is intended for this purpose. Fix that bit of the configuration, it will solve your problem. 😉

[2018-07-09 20:32] #377 closed

[2018-07-09 20:45] PyvesB commented on #358
Here's a compiled version for you:
[AdvancedAchievements.zip](https://github.com/PyvesB/AdvancedAchievements/files/2177944/AdvancedAchievements.zip)

[2018-07-09 20:57] Phoetrix commented on #365
I thought about it and I have an idea of how PAPI work.
When PAPI catch a placeholder I think he just do a replace of the placeholder by a data returned by a function created by a developper of plugin who use the API of placeholder.

So it would be probably impossible for the creator of PAPI to do an event when a placeholder change.
We must to do this ourself directly in AdvancedAchievements.

I h

[2018-07-09 21:07] PyvesB commented on #380
Well, you can simply tune the `ListAchievementFormat` parameter in _config.yml_ and add the colours you like in there. 😉

[2018-07-09 21:35] #384 closed

[2018-07-10 12:15] andris155 opened #386 "Console error"
[code]

[2018-07-10 12:21] andris155 commented on #386
Config
https://pastebin.com/TgGz3isL

[2018-07-10 13:57] supertassu commented on #386
You've cut out the important part of the error. We need the log lines after `Caused by: java.lang.ArrayIndexOutOfBoundsException`.

Possibly related to #377

[2018-07-10 14:33] andris155 commented on #386
[code]

[2018-07-10 14:51] supertassu commented on #386
Most likely duplicate of #336; please see https://github.com/PyvesB/AdvancedAchievements/issues/336#issuecomment-377493836 for a solution.

Thought 1935063754dd4a4ff124f30ae8e973fd0137cd67 fixed this. Weird.

[2018-07-11 17:53] PyvesB commented on #365
I don't think we even have to rely on the _PlayerJoin_ and _PlayerQuite_ events. As you suggested, we just have to call a function every X seconds/minutes which loops through all connected players. The _AchieveDistanceRunnable_ and _AchievePlayTimeRunnable_ classes do basically the same thing, so it could be a starting point if you want to dig into this some more. 😉

[2018-07-12 18:30] Tyloonie opened #389 "GUI customization options"
Hello,

I have a few suggestions for the awesome plugin.

1) Since you can only set the **ListColorNotReceived** in the config.yml as a single color, could you make an option that makes ListColorNotReceived bold? For example **ListColorNotReceivedBold: true**.

2) Is it possible to add lores to the **BackButton,** **PreviousButton** and **NextButton**?

Thank you very much.

[2018-07-12 21:37] PyvesB commented on #360
@JacekAA I have drafted an implementation in #390 and have attached a test version, would you like to give it a try? Use `customname-...` as a subcategory value in the `Kills` category.

I would like to put a complete example in _config.yml_, do you have a good/fun custom mob name to suggest?

[AdvancedAchievements.zip](https://github.com/PyvesB/AdvancedAchievements/files/2190387/AdvancedAchieveme

[2018-07-12 21:39] #382 closed

[2018-07-14 17:02] Alperenn opened #391 "PlayerBucketFillEvent event exception due to NoClassDefFoundError"
`[20:01:51 ERROR]: Could not pass event PlayerBucketFillEvent to AdvancedAchievements v5.8.2
org.bukkit.event.EventException
        at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.java:302) ~[Spigot.jar:git-PaperSpigot-"8b18730"]
        at co.aikar.timings.TimedEventExecutor.execute(TimedEventExecutor.java:78) ~[Spigot.jar:git-PaperSpigot-"8b18730"]
        at org.bukkit.pl

[2018-07-14 17:14] supertassu commented on #391
Duplicate of #377

[2018-07-14 17:47] Rsl1122 commented on #386
Suggested comment does not solve the issue - the config sent by @andris155 contains Commands: {} on line 707

----

ArrayIndexOutOfBoundsException: -50 suggests that an attempt to get page with pageIndex of -1 was made

CommandsGUI.java
[code]

[2018-07-14 18:04] supertassu commented on #386
@rsl122
Commands is not on DisabledCategories:

[code]

[2018-07-14 18:48] Rsl1122 commented on #381
Very cryptic exception. (Connection is not null and given string can not be null)

Only thing I could find that the underlying JDBC code is running into a NPE and casting it to SQLException.

Might be a problem with installed mysql J/Connector or the mysql version in paper 1.8.8

[2018-07-14 20:53] PyvesB commented on #391
@supertassu I think this is a different issue as the cause of the exception is `NoClassDefFoundError`.

@Alperenn did you happen to swap the plugin file whilst the server was running? Is this issue happing on a regular basis?

[2018-07-14 20:56] AlChimiK2D opened #393 "Error on plugin load"
Hello, i have a problem with the plugin AdvancedAchievements. It doesnt start at the start of the server

The console says :
`14.07 22:46:19 [Server] ERROR [AdvancedAchievements] A non recoverable error was encountered while loading the plugin, disabling it: 14.07 22:46:20 [Multicraft] Skipped 61 lines due to rate limit (120/s)`

I can give you my config file if you want.
Can you help me please ?

[2018-07-14 20:57] PyvesB commented on #389
Hello @Tyloonie,

This is not currently possible, but let's keep these suggestions in mind for future plugin updates. 😉

Cheers,

Pyves

[2018-07-14 20:59] Alperenn commented on #391
i had solve problem

[2018-07-14 21:00] Alperenn commented on #391
I solved the problem

[2018-07-14 21:00] PyvesB commented on #393
Hello @AlChimiK2D ,

Yes, please share your configuration file. You can easily share it using GitHub Gist or Pastebin. 😉

Cheers,

Pyves

[2018-07-14 21:05] PyvesB commented on #381
Yes, I would tend to agree with @Rsl1122 . @hsombini does this happen on a regular basis or was it a one time error?

[2018-07-14 21:06] PyvesB commented on #391
Okay, awesome, closing this issue. 😉

[2018-07-14 21:06] #391 closed

[2018-07-14 21:46] AlChimiK2D commented on #393
I give you the new file config i have do with itemsID :
but ther is a problem when i click on "places" in game it says : [AdvancedAchievements] Invalid item reward for achievement with path "Places.dirt.1.Reward". Please specify a valid Material name.
[config.txt](https://github.com/PyvesB/AdvancedAchievements/files/2195289/config.txt)

[2018-07-14 22:04] Tyloonie commented on #389
Okay!

I believe they should be quite easy to implement since they are not formatting suggestions.

Thanks anyways.

[2018-07-15 04:46] TAfirehawk opened #394 "How to get different mob spawners with /give"
I am using the "/give PLAYER mob_spawner 1 1" but still get little piggies.  I also tried "mob_spawner 1 0 {BlockEntityTag:{EntityId:Horse}}" without success

Is there a meta data format that can be passed to get different mob spawners?

[2018-07-15 07:14] Rsl1122 opened #396 "Project set-up guide for IntelliJ"
Write-up of IntelliJ project set-up for [Developers](https://github.com/PyvesB/AdvancedAchievements/wiki/Developers#modifying-the-plugin) page

----

- Fork the repository by clicking on the Fork icon on the top right of the page. You can also simply clone or download it by going to the [main page](https://github.com/PyvesB/AdvancedAchievements).
- In IntelliJ go to *Open..* and open the repositor

[2018-07-15 09:50] AlChimiK2D commented on #393
There is a problem about the number of connexions :
I have 2/2 connections but the achievement is not give ???

[2018-07-15 10:42] PyvesB commented on #393
Could you please show me a screenshot of the relevant _/aach give_ category?

[2018-07-15 11:07] AlChimiK2D commented on #393
`Connections:
  '1':
    Message: '&4Bienvenue sur le StupServeur !!!'
    Name: connect_1
    DisplayName: nouveau venu
  '2':
    Message: '&4Salut comment ça va ce matin ?'
    Name: connect_2
    DisplayName: revenant
    Reward:
      Money: 42
  '3':
    Message: '&4Toujours là ?'
    Name: connect_3
    DisplayName: insistant
    Reward:
      Money: 93
  '7':
    Message: '&4Eh bien ! On s

[2018-07-15 11:17] PyvesB commented on #393
What happens if you disconnect and reconnect about 30 seconds later?

[2018-07-15 11:21] PyvesB commented on #394
Hello @TAfirehawk ,

[This Essentials issue](https://github.com/EssentialsX/Essentials/issues/142) suggests that you need to give the _essentials.spawnerconvert.mobtype_ permission to your players. Does this help? 😉

Cheers,

Pyves

[2018-07-15 11:39] PyvesB commented on #396
Thanks for this @Rsl1122 ! I've updated the Wiki, let me know what you think. I believe you have sufficient rights to edit it yourself (I'll be notified of any changes afterwards). 😉

[2018-07-15 13:55] TAfirehawk commented on #394
At this time I am not running Essentials, just AACH.

[2018-07-15 14:17] PyvesB commented on #394
I don't think you can do that with Vanilla Minecraft in that case.

[2018-07-15 14:19] Rsl1122 commented on #396
Ah I did not realize, thanks! :)

[2018-07-15 14:19] #396 closed

[2018-07-15 14:59] hsombini commented on #381
On a regular basis after the upgrade to the newest version, I had to removed the plugin for now, I'll update my server from 1.8.8 to 1.13 but it will take a while

Would Hikari prevent this issues and improve the performance?

[2018-07-15 15:04] TAfirehawk commented on #394
I got Essentials loaded and it works now plus changes the format to pass meta data to using a ":" instead of being at the end.

[2018-07-16 08:21] PyvesB commented on #394
Okay, so am I right in thinking that everything is working fine for you now?

[2018-07-16 08:21] PyvesB commented on #381
What plugin version did you upgrade from?

[2018-07-16 11:35] pixxykilljoy opened #397 "How do I properly config MySQL?"
What is the proper way to fill out the "database" section in the mysql area? I Know what to put for user/password, but apparently i cant get database filled out properly, because i keep getting " ERROR [AdvancedAchievements] Error while attempting to retrieve a connection to the database:"

[2018-07-16 15:49] hsombini commented on #381
I have been fixing my flawed config.yml since 5.6.4

So I can't precisely tell you what version it's since the plugin was disabled for a while, sorry, but I can tell that before 5.6.4 I never had this issue.

[2018-07-16 20:47] PyvesB commented on #381
That's odd, not much has changed in terms of database handling since version 5.6.4.

So when you revert back to 5.6.4 with your current configuration, everything works fine? Could you give version 5.7.4 a try and see whether it changes anything?

[2018-07-16 20:51] PyvesB commented on #397
Hello @pixxykilljoy ,

You have to use a parameter such as the following:

Replace "localhost" by the address of your database. Replace "3306" by the port used to connect to your database. Replace "minecraft" by the name of the database you want to connect to. 😉

Cheers,

Pyves

[2018-07-16 21:25] PyvesB opened #398 "Minecraft 1.13 support"
The first Spigot preview of Minecraft 1.13 is now available (see [announcement](https://www.spigotmc.org/threads/bukkit-craftbukkit-spigot-bungeecord-1-13-pre7-development-builds.328883/)).

There has been quite a big overhaul of the API, but hopefully we can guarantee compatibility all the way from Minecraft 1.7.9 to 1.13 without having to drop any versions or develop separate plugin builds.

Ple

[2018-07-17 04:15] TAfirehawk commented on #394
Yes, thank you for the help and the great plugin :)

[2018-07-17 04:15] #394 closed

[2018-07-17 04:17] TAfirehawk commented on #398
I would like to help if I can and certainly test.

[2018-07-17 09:19] supertassu commented on #398
Hi

[2018-07-17 09:39] JacekAA commented on #360
One of the default custom mobs provided by MythicMobs is one with the name &2Skeletal Knight, that would be a pretty good one to start with.

[2018-07-17 22:38] TAfirehawk commented on #398
Here is the "Block Additions" list tested for launching fireworks in Creative:
Blue Ice			yes
Button			yes, all 7 while holding shift key
Pressure Plate		yes, all 9
Trapdoor			yes, all 7 while holding shift key, except iron doesn't need shift, also all 7 while open
Carved Pumpkin	yes
Conduit			yes, in water
Coral			yes, all 5, in water
Coral Block		yes, all 5, in water
Coral Fan			yes, all 5, in w

[2018-07-18 06:47] PyvesB commented on #393
@AlChimiK2D has the problem since then been solved or are other users facing similar issues?

[2018-07-18 07:12] AlChimiK2D commented on #393
Hello. I think i have not configurate the permissions correctly.  I Will see chat

[2018-07-18 18:44] PyvesB commented on #398
@TAfirehawk thanks, that's helpful! I'll finish off fixing the compiler errors with the current implementation, and I'll then use that information to improve things.

@supertassu a lot of Material names have changed, therefore we can't really make a single _gui.yml_ that works well with 1.13 and pre-1.13 versions.
* for existing users with old GUI files, we could probably still guarantee support b

[2018-07-18 19:53] TAfirehawk commented on #398
I have done a fair share of game modding, Civilization IV mostly, and programming over the years but nothing in java...so I offer my help if I can be of any real help ;)

I am hoping Spigot updates BuildTools for 1.13 as I haven't played around to get the update manually so I only have a vanilla 1.13 server and client to go along with my Spigot 1.12.2 server with EssentialsX and AACH.

[2018-07-18 20:57] PyvesB commented on #398
I barely ever touched Civilization IV, but I am somewhat familiar with Civilization I and II and was a big fan of Civilization III and V, I've still got them installed somewhere. My laptop is probably way too weak to power Civilization VI though. Good times! 😃

I'm guessing Civilization IV mods were coded in C++? If that's the case, it shouldn't be too hard to pick up Java if you are so inclined.

[2018-07-19 00:23] TAfirehawk commented on #398
Added Pull Request for the updated gui.yml that is updated to 1.13 names as well as sorted the list the same as it appears in /aach list.

[2018-07-19 03:39] TAfirehawk commented on #398
Here is the config.yml although I didn't get to test all the achievements since I am playing in survival.

[config.zip](https://github.com/PyvesB/AdvancedAchievements/files/2208108/config.zip)

[2018-07-19 18:08] PyvesB commented on #398
Thanks for this! Nevertheless, we should ideally keep _config.yml_ fully compatible with older Minecraft versions, typically `red_sand` will not work on anything below 1.13. For _gui.yml_ it won't be a problem though; as mentioned above it will be fairly easy to generate the file automatically depending on the Minecraft version. 😉

[2018-07-19 20:14] TAfirehawk commented on #398
Some of the config.yml fixes are universal and it will need to be like the gui.yml as sand:1 won't work for red_sand in 1.13

I also found using "legacy" names doesn't work in the gui.yml.  I don't know if this problem is in Spigot or AACH.

I added a fork for my edits and 2 pull requests so it should be easier....I hope....

[2018-07-19 21:48] PyvesB commented on #398
I think we should drop red sand and change the achievement examples by choosing a Material name that has never changed between version 1.7.9 and 1.13. "red_sandstone" is an example, but maybe we can come up with a better achievement idea! ^^

I have attached a plugin version that should now work with legacy Material names in the GUI (commit 6528b1daa01622ca9e5eb5d50c7ce75ed8b5bfd2). Such backwards

[2018-07-20 14:14] TAfirehawk commented on #398
I tried a pull request and hopefully it works.

I am updating to Spigot 1647 and the latest AACH file for testing today.

The "legacy" material names are interesting....how will old Minecraft versions use them so we can have just one config.yml?  There are lots of ways to update config.yml to non-changed materials but aren't the really old Minecraft versions using ItemID numbers?

[2018-07-20 17:12] PyvesB commented on #398
The plugin only supports Minecraft versions from 1.7.9 onwards. Therefore using Material names is fine so as long as we pick names that haven't changed over the years. This is basically what the class looked like in 1.7.9: [Material.java](https://github.com/Bukkit/Bukkit/blob/master/src/main/java/org/bukkit/Material.java).

I've left a few _config.yml_ ideas on the pull request, feel free to come

[2018-07-20 18:30] TAfirehawk commented on #398
Thanks, I saved that list so I can compare.

Yes those are great ideas and I gave my feedback in the pull request....easier than in this thread :)

[2018-07-20 19:35] TAfirehawk commented on #398
Something isn't working right in the combo of breaks.  I changed the sand|red_sand to ice|snow and it only counts the ice.  I even changed it to ice|dirt and it still only counted the ice.  Even changing it to dirt|ice still just counted the ice.

[2018-07-20 20:35] PyvesB commented on #398
That's odd, I'll look into this issue that only seems to occur with Minecraft 1.13. Right now my computer completely crashes when I launch the game, so I'm trying to reinstall things. I'm a bit bemused, I've never had any problem with my Minecraft setup which is now 5 years old.

[2018-07-21 12:10] PyvesB commented on #398
I have improved 1.13 support for the _Fireworks_ and _Fertilising_ achievement categories. Anyone reading this message, please feel free to try it out and see whether there are any achievement count issues, for instance when launching fireworks on some particular blocks/whilst sneaking, when using bone meal underwater, etc.

[AdvancedAchievements.zip](https://github.com/PyvesB/AdvancedAchievements

[2018-07-21 20:49] TAfirehawk commented on #398
I have been playing on Spigot 1654 and latest AACH with just the previously mentioned issue that doing combo break of sand:dirt it doesn't register the dirt breaks.

[2018-07-22 12:50] TAfirehawk commented on #398
Well the first dev build of 1.13 Spigot is out now.....yay!!!

[2018-07-22 18:40] aurel85 commented on #398
Hi,

I tested with spigot-1.13-R0.1-SNAPSHOT-b1726 and the plugin version above and here is what I noticed :

- The achievement _Fertilising_ does not work at all (no error in the console)
- When I do /aa book there is no more animation and in the console I have this message : _22.07 19:52:35 [Server] WARN Failed to display additional particle effects for books._
- There is no more green or red co

[2018-07-22 19:47] TAfirehawk commented on #398
@aurel85, item #3, those terracotta colors are working for progress at least on my 3 games of testing.  Something else must be wrong....are the rest of the graphics updated on the main /aach list screen?
![capture](https://user-images.githubusercontent.com/40474729/43049480-87158ff4-8dc6-11e8-8339-a804f28d2507.JPG)

[2018-07-22 20:19] aurel85 commented on #398
Ok I know why I have it, in the gui.yml it remained in the ID 1.12 so with a reset of this file or a modification I guess it will be fixed.

_AchievementNotStarted:
  Item: stained_clay
  Metadata: 14
AchievementStarted:
  Item: stained_clay
  Metadata: 4
AchievementReceived:
  Item: stained_clay
  Metadata: 5_

And yes I have a custom config.

[2018-07-22 20:30] PyvesB commented on #398
As far as _gui.yml_ is concerned, I've provided minimal backwards compatibility so that existing files won't blow up when upgrading the plugin. Nevertheless, some old items may map to the same new ones, anf you have to manually update in those cases.

I'll look into the other issues. 😉